[2018-08-10 12:32] diamw opened #1 "LBank API Scraping"
We are looking for a Go developer that can provide scrapers of a websocket API.

We reliably want to get trades in realtime from cryptocurrency exchanges. This trade information is then written into our databases using a specific format. We have an existing framework for this which allows us to parametrize the scraper. We work with Go and expect that the scrapers will work concurrently and efficie

[2018-08-12 10:06] PumpkingWok commented on #1
Hi @diamw, is there a way to read LBank api docs in english ? Thank you very much !!

[2018-08-13 08:03] diamw commented on #1
Hi @PumpkingWok. After some research, unfortunately not. Please try with Google translate or give up for a native speaker. Thanks. Michael

[2018-08-13 08:18] diamw opened #2 "hitBTC API Scraping"
We are looking for a Go developer that can provide scrapers of a websocket API. If our collaboration is productive we also offer tasks that include scraping of REST APIs. We reliably want to get trades in realtime from cryptocurrency exchanges. This trade information is then written into our databases using a specific format. We have an existing framework for this which allows us to parametrize th

[2018-08-13 09:45] PumpkingWok commented on #1
Hi @diamw, I have just gived up this issue cause api docs written in chinese and i have taken similar work posted by you (HitBtc api scraping). I have checked before taken it and the api docs are in english.I will update you in 24 hours.Thanks in advance.

[2018-08-14 18:08] PumpkingWok commented on #2
Hi @diamw,
I have saw your commit few hours ago, I think that i have finished to write the HitBTC scraper, i need to adapt the scraper with your module that you have committed.
Unfortunately i will be away from home for 2/3 days cause holiday, i'm going to create a PR next sunday/monday.
Have a nice day !!

Thanks

[2018-08-15 11:05] diamw commented on #2
Hey @PumpkingWok . Works for us. If there are any questions, hit us up, and please deliver on time ;). On another note: Enjoy your holiday.

[2018-08-15 11:07] diamw opened #3 "Huobi API Scraping"
We are looking for a Go developer that can provide scrapers of a websocket API. If our collaboration is productive we also offer tasks that include scraping of REST APIs. We reliably want to get trades in realtime from cryptocurrency exchanges. This trade information is then written into our databases using a specific format. We have an existing framework for this which allows us to parametrize th

[2018-08-15 11:10] diamw opened #4 "OKEx API Scraping"
We are looking for a Go developer that can provide scrapers of a websocket API. If our collaboration is productive we also offer tasks that include scraping of REST APIs. We reliably want to get trades in realtime from cryptocurrency exchanges. This trade information is then written into our databases using a specific format. We have an existing framework for this which allows us to parametrize th

[2018-08-15 11:16] diamw opened #5 "Bitfinex API Scraping"
We are looking for a Go developer that can provide scrapers of a websocket API. If our collaboration is productive we also offer tasks that include scraping of REST APIs. We reliably want to get trades in realtime from cryptocurrency exchanges. This trade information is then written into our databases using a specific format. We have an existing framework for this which allows us to parametrize th

[2018-08-15 11:54] diamw opened #6 "ETH/EUR CME Future / Algorithm & Oracle"
Develop ETH/EUR algorithm and oracle, based on availible DIA database, that is matching the CME future ETH price the closest https://www.cmegroup.com/trading/cryptocurrency-indices/cf-ethereum-reference-rate.html

+ Use existing ECB reference data for EUR/USD rate on database (https://github.com/diadata-org/api-golang/blob/master/exchange-scrapers/scrapers/ECBScraper.go)
+ Add Documentation
+ Add

[2018-08-16 15:31] rgarcia commented on #5
isn't this already implemented? https://github.com/diadata-org/api-golang/blob/master/exchange-scrapers/scrapers/BitfinexScraper.go

[2018-08-16 16:33] diamw commented on #5
You are right. Bad communication on our side. Sry. Please contact me for a reimbursement of your efforts Michael.weber@diadata.org.

thx
M

[2018-08-16 16:33] #5 closed

[2018-08-17 06:44] kaythxbye opened #8 "Bitcoin Cash Supply data provider"
Implement a Bitcoin Cash Blockchain scraper reporting the amount of mined BCC coins using our Go framework. Detailed documentation and examples can be found at http://docs.diadata.org/blockchain-scrapers.html

[2018-08-17 16:08] srisankethu commented on #8
@kaythxbye I am trying to follow the instructions in the above link. But when doing ``docker-compose build``(setup instructions), it is raising an error of invalid format reference. need help!

[2018-08-20 09:37] kaythxbye commented on #8
@srisankethu Thanks for your question! We updated our documentation. You should be able to work using the steps from here:
https://docs.diadata.org/blockchain-scrapers.html
If you have any questions just post them here.

[2018-08-20 12:36] PumpkingWok commented on #2
Hi,
I'm still working on this issue, it expired few hours ago, i need two more days max to complete the task and open a PR, thanks.

[2018-08-20 15:17] diamw commented on #2
Hey @PumpkingWok . Extended by 3 days now.

[2018-08-20 16:39] PumpkingWok commented on #2
Hi @diamw ,
Thank you very much, I'm going to open a PR at most tomorrow.
Have a nice day.

[2018-08-21 14:44] diamw opened #13 "Simex API Scraping"
We are looking for a Go developer that can provide scrapers of a websocket API. If our collaboration is productive we also offer tasks that include scraping of REST APIs. We reliably want to get trades in realtime from cryptocurrency exchanges. This trade information is then written into our databases using a specific format. We have an existing framework for this which allows us to parametrize th

[2018-08-21 14:53] nanspro commented on #1
Yes i am still working on this

[2018-08-21 21:15] srisankethu commented on #8
@kaythxbye No, the docs haven't been updated. There are so many errors in the documentation.

[2018-08-22 12:49] #2 closed

[2018-08-22 20:58] Gustavobelfort commented on #4
@diamw Is this issue still open ?

[2018-08-22 20:59] Gustavobelfort commented on #3
@diamw Is this issue still open?

[2018-08-23 07:41] kaythxbye commented on #13
We would like to receive trades containing the following crypto assets from the exchange (if available):
- BTC
- ETH
- XRP
- BCH
- EOS
- LTC
- XLM
- ADA
- MIOTA
- USDT
- TRX
- NEO
- XMR
- DSH
- ETC
- BNB
- XEM
- XTZ
- VET

[2018-08-23 07:41] kaythxbye commented on #1
Thanks for your work so far! I have got a bit of additional information.
We would like to receive trades containing the following crypto assets from the exchange (if available):
- BTC
- ETH
- XRP
- BCH
- EOS
- LTC
- XLM
- ADA
- MIOTA
- USDT
- TRX
- NEO
- XMR
- DSH
- ETC
- BNB
- XEM
- XTZ
- VET

[2018-08-23 07:42] kaythxbye commented on #3
Yes it is still open.
We would like to receive trades containing the following crypto assets from the exchange (if available):
- BTC
- ETH
- XRP
- BCH
- EOS
- LTC
- XLM
- ADA
- MIOTA
- USDT
- TRX
- NEO
- XMR
- DSH
- ETC
- BNB
- XEM
- XTZ
- VET

[2018-08-23 07:42] kaythxbye commented on #4
We would like to receive trades containing the following crypto assets from the exchange (if available):
- BTC
- ETH
- XRP
- BCH
- EOS
- LTC
- XLM
- ADA
- MIOTA
- USDT
- TRX
- NEO
- XMR
- DSH
- ETC
- BNB
- XEM
- XTZ
- VET

[2018-08-23 08:13] kaythxbye opened #16 "Ripple Circulating Supply Scraper"
Implement a Ripple Blockchain scraper reporting the amount of circulating XRP coins using our Go framework. Detailed documentation and examples can be found at https://docs.diadata.org/blockchain-scrapers.html

[2018-08-23 08:13] kaythxbye opened #17 "EOS Circulating Supply Scraper"
Implement a EOS Blockchain scraper reporting the amount of circulating EOS coins using our Go framework. Detailed documentation and examples can be found at https://docs.diadata.org/blockchain-scrapers.html

[2018-08-23 08:18] kaythxbye opened #18 "Stellar Circulating Supply Scraper"
Implement a Stellar Blockchain scraper reporting the amount of circulating XLM coins using our Go framework. Detailed documentation and examples can be found at https://docs.diadata.org/blockchain-scrapers.html

[2018-08-23 08:18] kaythxbye opened #19 "Cardano Circulating Supply Scraper"
Implement a Cardano Blockchain scraper reporting the amount of circulating ADA coins using our Go framework. Detailed documentation and examples can be found at https://docs.diadata.org/blockchain-scrapers.html

[2018-08-23 08:18] kaythxbye opened #20 "Tether Circulating Supply Scraper"
Implement a Tether Blockchain scraper reporting the amount of circulating USDT coins using our Go framework. Detailed documentation and examples can be found at https://docs.diadata.org/blockchain-scrapers.html

[2018-08-23 08:19] kaythxbye opened #21 "TRON Circulating Supply Scraper"
Implement a TRON Blockchain scraper reporting the amount of circulating TRX coins using our Go framework. Detailed documentation and examples can be found at https://docs.diadata.org/blockchain-scrapers.html

[2018-08-23 08:19] kaythxbye opened #22 "NEO Circulating Supply Scraper"
Implement a NEO Blockchain scraper reporting the amount of circulating NEO coins using our Go framework. Detailed documentation and examples can be found at https://docs.diadata.org/blockchain-scrapers.html

[2018-08-23 08:20] kaythxbye opened #23 "Monero Circulating Supply Scraper"
Implement a Monero Blockchain scraper reporting the amount of circulating XMR coins using our Go framework. Detailed documentation and examples can be found at https://docs.diadata.org/blockchain-scrapers.html

[2018-08-23 08:25] kaythxbye opened #24 "Dash Circulating Supply Scraper"
Implement a Dash Blockchain scraper reporting the amount of circulating DSH coins using our Go framework. Detailed documentation and examples can be found at https://docs.diadata.org/blockchain-scrapers.html

[2018-08-23 14:36] diamw commented on #2
Thx @PumpkingWok . We have new tickets open if you are interested.

[2018-08-24 07:44] kaythxbye commented on #16
Information about how to retrieve the information about all currently circulating XRP can be found here:
https://developers.ripple.com/ledger.html
(Look for "ledger.total_coins")

[2018-08-25 09:58] ankit-maverick commented on #23
@kaythxbye What source are we looking to scrap to get the amount of circulating XMR coins?

[2018-08-25 17:43] rahulpat commented on #18
@kaythxbye what's a good way to test the changes?

[2018-08-25 19:02] rahulpat commented on #18
@kaythxbye also the documentation doesn't contain any info on getting an API key and a secret. Could you please provide more info on that? Specifically inside of api_diadata.json ```{
 	"ApiKey": "xxx",
    "SecretKey": "xxx"
}
[code]

[2018-08-27 08:43] kaythxbye commented on #24
@noopur1202 We would like to extract the data from the blockchain (accessed with anode in a docker container), not from an exchange.

[2018-08-27 09:11] rahulpat commented on #18
@kaythxbye the documentation sucks w.r.t running the docker instance locally. Any help would be appreciated.

[2018-08-27 13:03] kaythxbye commented on #23
@ankit-maverick We would like to have a Monero blockchain node running that is used to get the amount of circulating XMR. We do not want to scrape a website, we need a reliable direct source (i.e. the blockchain itself).

[2018-08-27 15:42] kaythxbye commented on #22
To clarify: We are interested in circulating supply, in case of NEO that means the total supply minus the amount this address holds: https://neotracker.io/address/AQVh2pG732YvtNaxEGkQUei3YA4cvo7d2i

[2018-08-27 15:44] kaythxbye commented on #18
Hi @rahulpat! Normally you just need to go to the /api-golang/blockchain-scrapers directory and execute docker-compose there.

[2018-08-27 15:49] kaythxbye commented on #17
Sure, if you have any questions just ask!

[2018-08-27 15:55] kaythxbye commented on #8
@srisankethu Did you create an account at docker hub and login there?

[2018-08-27 16:35] ankit-maverick commented on #23
@kaythxbye Do we have a blockchain node running already?

[2018-08-27 16:36] kaythxbye commented on #23
@ankit-maverick You can find a dockerfile here: https://github.com/monero-project/monero/blob/master/Dockerfile

[2018-08-28 14:08] srisankethu commented on #8
@kaythxbye Yes! When I do ``docker-compose build``, gives me the error invalid reference format.

[2018-08-28 14:13] #19 closed

[2018-08-28 23:33] nanspro commented on #1
Getting error while building project
![screenshot from 2018-08-29 05-02-02](https://user-images.githubusercontent.com/24641089/44756541-c1125800-ab48-11e8-8bf9-0967672b4edc.png)

[2018-08-29 08:50] diamw commented on #1
We just tried to replicate the error. What is your docker compose version?
Thx
Michael

Von: Rahul Bishnoi <notifications@github.com>
Antworten an: diadata-org/api-golang <reply@reply.github.com>
Datum: Mittwoch, 29. August 2018 um 01:33
An: diadata-org/api-golang <api-golang@noreply.github.com>
Cc: Michael Weber <michael.weber@diadata.org>, Mention <mention@noreply.github.com>
Betreff: Re: [diada

[2018-08-29 12:35] PumpkingWok commented on #13
Hi @diamw,
I have looked into official SIMEX documentation and it seems they offer for now only REST API, no subscriptions to websocket channels as i think you would like to implement it.
I have searched on the web too but nothing.
Thanks !!

[2018-08-29 12:43] kaythxbye commented on #13
Hi @PumpkingWok thanks for the update! True, there seems to be no websocket API. Are you confident you can do a scraper for REST? It is still better than having no data.

[2018-08-29 13:09] PumpkingWok commented on #13
Hi @kaythxbye, Yes i could develop it without hard problems, i think, but the logic should be little different. The REST API calls are limited, more or less 6/10 per second, depend on exchange.
There is a risk that some trading orders will be lost.Opposite, It needs to a control on orders to discard some that could be replicate.

[2018-08-29 13:17] kaythxbye commented on #13
Do they have pagination so that you can sync the progress?

[2018-08-29 14:01] PumpkingWok commented on #13
Hi @kaythxbye,
I could implement a semi scraper that makes about 5 calls per second, it is simex API limit.
In theory i have just checked and in this way there should be no trading data loss.At most it could hold less crypto pair.

[2018-08-29 15:25] bounty-js commented on #22
Hi, the total supply of NEO coins is 100,000,000 and the amount at address AQVh2pG732YvtNaxEGkQUei3YA4cvo7d2i is 35,000,0001, so are you looking for the number 64,999,999? or Is there something I am missing?

[2018-08-30 07:27] PumpkingWok commented on #13
Hi @frranck
Thank you for the info, I'm trying to implement it without using external packages.I should have done it.
I'm going to open a PR in 3/4 hours at most.
Have a nice day, thanks in advance !!

[2018-08-30 09:41] kaythxbye commented on #22
That is correct, however once the amount held by the address changes we obviously need an update the next time the scraper is run. So summarized that means we need a dockerized NEO blockchain client that requests the amount held by that address every time the scraper is called and subtracts it from the total amount. We do not want a web scraper that just gets this info from neotracker.io.

[2018-08-30 12:42] kaythxbye commented on #4
Hi @nanspro and @Gustavobelfort did you make any progress so far?

[2018-08-30 14:30] kaythxbye commented on #8
Did you export it in a .profile or .bashrc file? Otherwise it normally helps to launch docker-compose like this:
  $> DOCKER_HUB_LOGIN=username docker-compose build

[2018-08-30 15:05] srisankethu commented on #8
@kaythxbye I tried ``export DOCKER_HUB_LOGIN = username; docker-compose-build``. Anyway, I have stopped working on this. Thank you!

[2018-08-30 15:16] #13 closed

[2018-08-30 21:04] kaythxbye commented on #20
The best resource for the circulating supply of USDT is actually this website: https://wallet.tether.to/transparency ("Total Liabilities"). So a web scraper that can handle the Cloudflare Protection would be sufficient.

[2018-09-01 18:07] PumpkingWok commented on #4
Hi there,
I could take this issue if it will be free, i resolved it. Only if no one already working on it.
Thanks

[2018-09-02 11:03] ishanjain28 commented on #17
@kaythxbye Hi, I would like to work on this project. Can you tell how do I retrieve circulating supply for EOS? I have already looked at the RPC documentation here, https://developers.eos.io/eosio-nodeos
/reference and I didn't figure it out.

Thanks.

[2018-09-02 11:59] ishanjain28 commented on #8
Hi,

Is there a bounty on this issue?

[2018-09-02 20:00] kaythxbye commented on #17
Hi @ishanjain28 ! The supply should be retrievable using this call:
https://github.com/EOSIO/eosjs-api/blob/master/docs/api.md#eos.getCurrencyStats
In the resulting getCurrencyStatsResult object there is a field called "Supply".

[2018-09-02 20:01] kaythxbye commented on #8
@ishanjain28 Yes there is, it will be open again tomorrow (in about 12 hours): https://gitcoin.co/issue/diadata-org/api-golang/8/973

[2018-09-03 07:47] kaythxbye commented on #4
@PumpkingWok It looks like at the moment nobody is active on this task.

[2018-09-03 10:03] ishanjain28 commented on #8
@kaythxbye What bitcoin cash node should I use? I tested the program with bitcoin-abc image. Should I include that or something else?

[2018-09-03 11:17] kaythxbye commented on #22
@bounty-js Something went wrong with the payment of this bounty, we are investigating it at the moment.

[2018-09-03 13:32] bounty-js commented on #22
Hi @kaythxbye I have received 0.3 ETH to my address.

[2018-09-03 14:16] kaythxbye commented on #22
Thanks for the feedback and your work :-)

[2018-09-03 14:17] #22 closed

[2018-09-04 08:13] #4 closed

[2018-09-04 17:03] kaythxbye commented on #23
@ankit-maverick Do you have any updated? Do you need more information?

[2018-09-04 17:04] #18 closed

[2018-09-04 17:05] kaythxbye commented on #17
Hi @ishanjain28 do you need anymore information or documentation?

[2018-09-04 17:05] kaythxbye commented on #16
#28

[2018-09-04 17:05] #16 closed

[2018-09-04 20:49] kaythxbye commented on #23
@joshpurvis 20-30 minutes from genesis is quite quick, Ethereum takes hours until it is synced. Once it is running continuously however, it is relatively easy to keep up as only a diff has to be calculated. So your proposal is totally acceptable.

Storing a previous height in a db is also a good optimization idea, the scraper is determined to run continuously and we have a redis DB in the backgrou

[2018-09-05 03:40] joshpurvis commented on #23
Submitted a PR of the initial version for feedback. The rounding error should be fixed now that I switched from `big.Float` to `big.Rat`. Will make any adjustments tomorrow, if needed!

[2018-09-05 23:04] ishanjain28 commented on #17
I'll complete this today. Thanks for notifying. :)

[2018-09-06 17:51] PumpkingWok commented on #1
Hi there,
I could resolve this issue if it will be free again.
Thanks

[2018-09-07 09:39] kaythxbye commented on #8
@ishanjain28 Do you have any updates? Do you need additional resources?

[2018-09-07 10:56] #3 closed

[2018-09-07 20:15] #20 closed

[2018-09-07 20:16] #21 closed

[2018-09-09 05:37] PumpkingWok commented on #1
Hi @vs77bb,
I have already resolved this issue, if it will be free again i can take this without problems.
Thanks.

[2018-09-10 14:18] PumpkingWok commented on #1
Hi @diam,
I would like to ask you a question regard this issue. There is no trade id in response fields, if you want i could use something similar to hash of datetime, for unique feature.
Thanks in advance.

[2018-09-11 07:05] #1 closed

[2018-09-14 01:39] vs77bb commented on #1
@diamw Mind paying out @PumpkingWok for this one on Gitcoin? Let us know if you have any feedback for us 🙂

[2018-09-14 12:52] frranck opened #45 "gate.io API Scraping"
We are looking for a Go developer that can provide scrapers of a websocket API. If our collaboration is productive we also offer tasks that include scraping of REST APIs. We reliably want to get trades in realtime from cryptocurrency exchanges. This trade information is then written into our databases using a specific format. We have an existing framework for this which allows us to parametrize th

[2018-09-14 13:09] frranck opened #46 "www.zb.com api scrapping"
We are looking for a Go developer that can provide a scraper for the zb.com exchange. Your contribution will be part of our open source project. We work with Go and expect that the scrapers will work concurrently and efficiently.

We would like you to use and evaluate this library in the process:
https://github.com/nntaoli-project/GoEx

We will provide the necessary documentation for the task and

[2018-09-15 06:12] farhaanbukhsh commented on #46
I would like to take this up

[2018-09-15 06:27] farhaanbukhsh commented on #46
Hey http://docs.diadata.org/scraper.html this link is broken can you point me to the right link?

[2018-09-15 06:48] farhaanbukhsh commented on #46
Also I feel zb is obsolete they are experimenting with https://www.zbg.com/help/restApi this do have a look at this, too.

[2018-09-15 07:58] frranck commented on #46
hey @farhaanbukhsh
here is the doc,
https://docs.diadata.org/exchange-scrapers.html

did you check into https://github.com/nntaoli-project/GoEx ? serems they support zb

[2018-09-15 07:58] PumpkingWok commented on #46
Hi @farhaanbukhsh, I have done some issues similar to this and I think you should use websocket for subscribing, not REST if possible. It is the link https://docs.diadata.org/exchange-scrapers.html.

[2018-09-15 08:01] PumpkingWok commented on #46
Hi @frranck , In https://github.com/nntaoli-project/GoEx , this wrapper supports only Rest call for zb. I think that almost all exchanges in this library support only Rest.

[2018-09-15 08:03] frranck commented on #46
Hi @PumpkingWok thanks for the info, then you're right we don't want that...

[2018-09-16 14:46] farhaanbukhsh commented on #46
hey @frranck  @PumpkingWok thanks for the info so what do you guys think should be the best way to approach this?

[2018-09-16 15:13] farhaanbukhsh commented on #46
what is the reason to prefer websockets over REST?

[2018-09-16 16:07] PumpkingWok commented on #46
Hi, you could start from zb official websocket API doc https://translate.googleusercontent.com/translate_c?depth=2&hl=en&nv=1&rurl=translate.google.com&sl=zh-CN&sp=nmt4&tl=en&u=https://www.zb.com/i/developer/websocketApi&xid=17259,15700023,15700124,15700126,15700149,15700186,15700190,15700201,15700214&usg=ALkJrhi8EU6n5Mg64Nl_WCqimyabrPp5Ew
The scraper should subscribe to trade channel. With websoc

[2018-09-16 16:58] #8 closed

[2018-09-16 16:59] #23 closed

[2018-09-17 03:52] farhaanbukhsh commented on #46
Awesome! the requirement looks much clearer now, I think the only thing I have to figure out it how to get info from zb I have seen the link you sent thanks a lot :)

[2018-09-17 03:57] farhaanbukhsh commented on #46
https://github.com/zb2017/api

This has a golang sample code I need to see how they are doing it I guess once we generate the api we can build the scraper easily 😄 but I need to look how we can integrate it with the framework.

[2018-09-17 07:51] PumpkingWok commented on #46
Hi @farhaanbukhsh, I had take a look into this repo (https://github.com/zb2017/api) and it seems to use only Rest functionality, but it could be useful to learn something. If you take a look in `zb.yml.example`, there is `data_url` and `trade_url` instead of  `wss://api.zb.cn:9999/websocket`.

 You can look other Exchange Scraper files inside dia framework to figure out the behavior , they are sim

[2018-09-17 09:00] #45 closed

[2018-09-17 15:18] montanaflynn opened #49 "Improve Documentation"
Adding a scraper I found https://docs.diadata.org/exchange-scrapers.html to be lacking.

Additionally the README.md has no information on how to run the project, where to find documentation or what is expected from the scrapers.

[2018-09-17 15:22] montanaflynn opened #50 "Use $GOPATH instead of hardcoded path"
In [exchange-scrapers/cmd/scraper.go#L55-L56](https://github.com/diadata-org/api-golang/blob/master/exchange-scrapers/cmd/scraper.go#L55-L56) there is a hardcoded path which will not work for everyone, I modified it to use the `$GOPATH` environment variable instead.

[code]

Maybe it should be set by a flag if `$GOPATH` is not set which may be the future of Go as [module support](https://golang.or

[2018-09-18 03:36] farhaanbukhsh commented on #46
woaah it's done should I continue with my exploration?

[2018-09-18 07:44] PumpkingWok commented on #46
Hi, i don’t think so unfortunately. It is almost merge.The open source mentality is a very rare thing !! Have a nice day !!

[2018-09-18 07:52] frranck commented on #46
Ups, sorry about that @farhaanbukhsh I haven't check much the other PR though cause it seems there's a bug, so it's not yet merged.

[2018-09-18 08:29] kaythxbye commented on #17
Hi @ChrisCates please mark your PR as a submission of this task on gitcoin.co so that we can make your payout with a correct reference to your actual submission.

[2018-09-18 08:37] ChrisCates commented on #17
Sounds good!
There's actually an issue with Gitcoin interface asking me for to use the faucet to receive ETH.
This should not be required. This should be resolved tomorrow.

If you need help with anything else @kaythxbye, let me know!

[2018-09-18 13:02] farhaanbukhsh commented on #46
Hey that's fine but I didn't get the comment about open source mentality, can you elaborate?

[2018-09-18 13:04] farhaanbukhsh commented on #46
That's fine I feel @montanaflynn already has put good amount of work if any improvement required we can collaborate if he is okay with it.

[2018-09-18 13:09] PumpkingWok commented on #46
Hi @farhaanbukhsh, how are you ? I mean that I would ask before start to code, in issue page, if it was free and no one already work in it.
However it was a competitive bounty, FIFO rules.Have a nice day !!

[2018-09-18 15:47] montanaflynn opened #52 "Add all pairs from exchanges"
I noticed some exchanges are not scraping all the available pairs.

For example the most recent exchange gate.io (https://github.com/diadata-org/api-golang/pull/47) only captures a small subset of [the available pairs](https://data.gate.io/api2/1/pairs).

Instead of manually adding them to the `exchange-scrapers.json` file it's probably better to automate this using any available APIs such as the

[2018-09-18 16:05] PumpkingWok commented on #52
Hi @montanaflynn,
I usually add a small subset (max 30 pairs) to `exchange-scrapers.json` for avoiding to increase too much the file in line for easy editing in the future if necessary. I agree with you that maybe it is better to automate the pairs population via request API, or at least choose from the two scenarios before run the scraper.

[2018-09-18 19:38] ChrisCates commented on #17
@kaythxbye https://etherscan.io/tx/0x5feae066177b55a962735602598a56b1358bf4c6da78ee95756d6f63759b1434

Here's the transaction on Etherscan.
If you have any questions let me know! And if you need any changes. Let me know!

If not, feel free to close the issue. If you need help with any other issue. Let me know! 👍

[2018-09-19 03:57] montanaflynn commented on #52
@PumpkingWok is that documented anywhere? Just pick random 30? I was looking for a specific token I know is traded on gate and didn't find it which is what led me to create this issue.

[2018-09-19 12:04] frranck commented on #52
Hi @montanaflynn very good point, we need to add some pairs discovery into the APIScraper interface

[2018-09-19 12:06] frranck commented on #50
Yes we should to move to vgo, that's quite hacky atm

[2018-09-19 12:11] kaythxbye commented on #49
Hi @montanaflynn, good point, I will take care of it to update the docu.

[2018-09-19 13:07] montanaflynn commented on #50
I think using `$GOPATH` is an improvement even before modules.

[2018-09-19 13:51] #50 closed

[2018-09-19 17:20] PumpkingWok commented on #6
Hi @diamw,
Are you still interested on this issue ? If yes, i would like to ask some questions regard it.
Thanks.

[2018-09-24 13:58] #17 closed

[2018-09-24 14:00] #24 closed

[2018-09-25 11:51] kaythxbye commented on #46
Thanks for your contribution @montanaflynn!

[2018-09-25 11:51] #46 closed

[2018-09-25 13:41] PumpkingWok opened #56 "Issue Retrieving configFile in scraper.go"
Hi there,

- I found an issue when i try to retrieve `configFile` , initialized inside `scraper.go`
- `scraper.go`, Row 55:
   - `configFile := os.Getenv("GOPATH") + "/go/src/github.com/diadata-org/api-golang/exchange-scrapers/config/exchange-scrapers.json"`

- There are two issues:
   - 1) `os.Getenv("GOPATH")` can return empty string, from go 1.8.tested in Mac OS.
  - It should be fixed with `bu

[2018-10-01 08:00] kaythxbye opened #60 "API endpoint for 7d Graphs"
Create an API endpoint for the 7d history of the price of every coin tracked in the backend. It should return a PNG (transparent background).

[2018-10-01 08:03] kaythxbye opened #61 "Price and Volume Oracles for coin data"
Write an oracle smart contract and backend integration so that every coin's data gets updated periodically. Add documentation and a subpage on the functionality of the oracle with a link to Etherscan.

[2018-10-01 08:11] kaythxbye opened #62 "Listing exchanges API endpoint"
API endpoint that lists all exchanges (with pairs that are watched) from where DIA is getting trade data. The endpoint should include price and volume data of the pair.

[2018-10-01 08:16] kaythxbye opened #63 "Sync all blockchain scrapers"
All blockchain scrapers should be synced in the backend. sshfs reconnect should be automatic.

[2018-10-01 08:21] kaythxbye opened #64 "Reorganisation of database and collection backend"
Finish reorganisation of the backend servers for the API services and the price and supply collection. Add documentation on docs.diadata.org about the architecture of the backend (e.g, which services use redis, how are they connected).

[2018-10-05 11:58] #62 closed

[2018-10-08 05:43] kaythxbye commented on #61
#67 for Link to Etherscan and documentation

[2018-10-10 00:40] kaythxbye commented on #60
Create a shaded area under the line (lighter blue than the color of the line).

[2018-10-11 13:47] kaythxbye opened #76 "CoinData page"
Re-structure the page "CoinDetails" so that it shows the general information at the top, a history chart below, and the market details on bottom. In detail these are the general building blocks:

* The general information section will be discussed in detail for smaller design changes.
* Integrate live market data into the already existing template from this API endpoint: https://api.diadata.org/v1

[2018-10-11 14:49] diamw opened #77 "DIA Whitepaper | Critizise and review"
Experts in data protection, tokenomics, crowd-sourcing and crowd-wisdom wanted.

We are looking for interested editors, freelancers, developers in one of these areas: crowd-wisdom, tokenomics, data protection (GDPR) in order to criticise and improve our Whitepaper.

Apply to this ticket with a short intro and why you are a good fit.

Whitepaper will be send after selection to 1 freelancer, we migh

[2018-10-11 16:21] mestorlx opened #78 "FilterMA not ignoring Trade out of order"
In `func (s *FilterMA) compute(trade dia.Trade)` if the trade timestamp is older than `s.lastTrade` should be ignored. In the following test the error message `FilterMA: Ignoring Trade out of order` is shown however the values are being used on the average computation which mean it is not ignored.

[code]

[2018-10-11 17:02] diamw commented on #77
Send via mail to you. Please check SPAM if not there. Thx. Michaelö

[2018-10-12 11:50] kaythxbye opened #79 "Kucoin API Scraper"
We are looking for a Go developer that can provide scrapers of the Kucoin websocket API. If our collaboration is productive we also offer tasks that include scraping of REST APIs. We reliably want to get trades in realtime from cryptocurrency exchanges. This trade information is then written into our databases using a specific format. We have an existing framework for this which allows us to param

[2018-10-13 01:41] santteegt commented on #79
Hi,

I'll love to to work on this bounty, however I can't send my request through Gitcoin right know as I'm over the limit number of bounties that I can be assigned. The good news is that I'm about to send a PR this weekend

[2018-10-13 13:40] mestorlx commented on #78
If this bug is confirmed I think I can provide a solution. Just let me know and I can submit a PR

[2018-10-13 16:42] frranck commented on #78
@mestorlx This cannot happen since orders are ordered by the trade block service. Indeed you're right we should explicitly ignore them here too.

[2018-10-13 16:43] frranck commented on #78
Or maybe once for all filters in the filter service?

[2018-10-13 16:48] mestorlx commented on #78
@frranck I think the mechanism is inside the filter already.
Let me submit a PR with a quick fix.

[2018-10-14 08:00] #78 closed

[2018-10-14 15:14] mestorlx commented on #6
@frranck Are you still interested in this implementation?

[2018-10-15 07:44] PumpkingWok commented on #77
Hi @diamw,
Can i write here for doubt/questions regard whitepaper ? via email ?
Thank you very much.

[2018-10-15 07:53] frranck commented on #6
We are developing the oracle part in house ATM, but we will still need the CME wrapper, we will publish a bounty for it next month.

[2018-10-15 12:50] frranck commented on #52
Ok so we would need a pair discovery service, that would fetch all available pairs for each exchange and store it in redis.

[2018-10-15 13:04] kaythxbye opened #87 "Pair Scraper for all supported exchanges"
This issue evolved from #52.
We need a pair discovery service that fetches all available pairs for each exchange and store it in redis.
It should regularly check which pairs are tradable and update the database if necessary. Whenever a dedicated API endpoint is available, please use it. Document your solution in our docs/ directory.

[2018-10-15 13:04] kaythxbye commented on #52
Closing, continues in #87

[2018-10-15 13:04] #52 closed

[2018-10-16 08:10] frranck opened #93 "tansparency in plot project"
get the transparency change made into the
https://github.com/diadata-org/plot
go upstream with a PR so we don't need to use a local version

[2018-10-16 08:11] frranck commented on #60
We still have some triangle buggy images ? what is it coming from @MiguelPires

[2018-10-16 12:46] #63 closed

[2018-10-16 12:52] kaythxbye opened #94 "Bittrex REST API Scraper"
We are looking for a Go developer that can provide a scraper for the bittrex REST API. We reliably want to get all trades in realtime from the Bittrex cryptocurrency exchange. This trade information is then written into our databases using a specific format. We have an existing framework for this which allows us to parametrize the scraper. We work with Go and expect that the scrapers will work con

[2018-10-18 04:47] montanaflynn commented on #79
Yes I am, will submit PR soon.

[2018-10-19 14:58] #76 closed

[2018-10-19 15:02] kaythxbye commented on #87
Thanks for your contribution!

[2018-10-19 15:02] #87 closed

[2018-10-22 06:09] #60 closed

[2018-10-22 06:09] #61 closed

[2018-10-22 08:27] frranck commented on #13
We got some super weird data from Simex,

[code]

Any clue where it could be coming from @PumpkingWok ?

[2018-10-22 09:17] PumpkingWok commented on #13
Hi @frranck,
How are you ? I have just received an email with your new comment regard this issue but I don't see it in the page.Thanks.

[2018-10-22 14:46] frranck opened #112 "Tezos Blockchain scraper"
Implement a Tezos Blockchain scraper reporting the amount of circulating XTZ coins using our Go framework. Detailed documentation and examples can be found at https://github.com/diadata-org/diadata/blob/master/documentation/methodology/SupplyNumbers.md

[2018-10-23 07:54] kaythxbye opened #113 "Coinhub: Design Fixes"
For our site https://coinhub.diadata.org we are looking for some polishing. This task includes minor design changes in our vue.js site (can be found in frontend/) and the implementation of a dropdown menu, that selects different sources from our backend and displays them in our highstocks chart. A file with all changes layd out will be shared with the successful applicant for this bounty.
Ideally,

[2018-10-24 20:35] mestorlx opened #118 "Implement Close() for all exchange scrapers"
Not all Exchange scrapers properly implemented the `Close()` function.
Some exchanges do implement close but do not terminate the `mainLoop()` routine which cause performance issues on the `pairDiscoveryService` `service`

[2018-10-24 20:41] mestorlx opened #119 "High CPU usage in some Exchange Scrapers"
Some exchange scraper like `SimexScraper` have two nested loops that can cause high CPU usage. For example
[code]
Will get stuck with high cpu usage if the `pairScrapers map[string]*SimexPairScraper` is empty.
A equivalent issue is present in `QuoineScraper`

[2018-10-24 23:52] ryan-shea commented on #79
Hey @montanaflynn, Ryan from Gitcoin here. Are you still working on this bounty? Let me know if you have any questions :) 💯

[2018-10-25 00:34] ryan-shea commented on #94
Hey @montanaflynn, Ryan from Gitcoin here. Are you still working on this bounty? Let me know! 😄

[2018-10-25 03:48] RaimondsKazuss commented on #113
Hi.

Joined.
Just a little info from me - I live in the UTC/GMT +3 hours time zone, so
sometimes my responses may be with a bit of a delay.

Have a nice day!

kaythxbye <notifications@github.com> (šajā datumā: Ce, 2018. gada 25. okt.
00:23) rakstīja:

[2018-10-25 12:45] kaythxbye commented on #113
Perfect, just sent you details. We are in UTC+2, so no worries.

[2018-10-25 18:51] mestorlx commented on #77
@diamw just finished with the white paper. I have some comments. What would be the best way to share?

[2018-10-26 12:31] #112 closed

[2018-10-26 13:51] kaythxbye opened #122 "ETC Blockchain Scraper"
Implement a Ethereum Classic Blockchain scraper reporting the amount of circulating ETC coins using our Go framework. Detailed documentation and examples can be found at https://github.com/diadata-org/diadata/blob/master/documentation/methodology/SupplyNumbers.md

[2018-10-26 13:53] mestorlx commented on #118
@kaythxbye there is some more scrapers with this issue. You want me to look into them?

[2018-10-27 08:54] diamw commented on #77
Hey @mestorlx . Please send to Michael.weber@diadata.org. Thx

[2018-10-27 16:53] PumpkingWok commented on #77
Hi there,
I'm still working on it, I have talked many times with @diamw via PM regard this issue.
Thanks.

[2018-10-29 09:30] diamw commented on #77
Thanks @mestorlx . Well received via mail. We can colse this. Please submit an emtry entry in gitcon so I can pay this out via the smart-contract bounty (last one was meesed up due to this). Thx

[2018-10-29 11:19] RaimondsKazuss commented on #113
I've just submitted a WIP PR.

[2018-10-30 07:59] #118 closed

[2018-10-30 07:59] #119 closed

[2018-10-30 15:30] #77 closed

[2018-11-01 17:07] frranck opened #131 "exchange-scrapers: OKEx is broken"
**Describe the bug**
seems OKEx is receiving wrong values and can't parse trades

**To Reproduce**

run
go run cmd/exchange-scrapers/collectorTextOnly/scraper.go -exchange OKEx

trades are not showing up and error message:
WARN[0001] reconnect the scraping to ws, invalid character 'M' looking for beginning of value:[]

[2018-11-03 12:58] PumpkingWok commented on #131
Hi @frranck,
I have just seen this issue, i have implemented OKEx scraper.I had to include a function to ping manually the websocket every tot seconds. Maybe there is a issue regard it, i'm going to test it.

[2018-11-03 13:57] PumpkingWok commented on #131
Ok, i think that i have found the problem, OKEx now compresses the data traveling on websocket.
It is a demo developed by OKEx (there is a go code example too)
https://github.com/okcoin-okex/API-docs-OKEx.com/tree/master/demo
Ask me without problems if you want an help with this issue.
Have a nice day !!

[2018-11-05 08:34] diamw opened #132 "Pair Discovery"
29.10: FG

[2018-11-05 09:42] diamw opened #133 "Distribution Algos: Generalized hyperbolic; Normal inverse Gaussian; Generalized t; Laplace; Student t"
1. Develop an algorithm that implements the described distributions in line with "A Statistical Analysis of Cryptocurrencies", https://www.mdpi.com/1911-8074/10/2/12
- P. 7 (Formulas)
- P.11 (Check for backtesting)

2. Integrate it with [our filter service](../../internal/pkg/filtersBlockService).

3. Backtest the documentation, submit respective documentation as pull request.

[2018-11-05 14:04] kaythxbye opened #134 "Request for bla data"
1. Define your data need specifications within this github issue template
2. Fund the ticket on https://gitcoin.co
3. Approve or reject work submitted
__________________

We are looking for a Go developer that can provide scrapers of a [websocket and REST API].

We reliably want to get trades in realtime from [NAME] exchange. This trade information is then written into our databases using a specif

[2018-11-05 14:09] #134 closed

[2018-11-06 13:19] kaythxbye opened #136 "Frontend for Gitcoin Bounty Explorer"
Write a frontend for the Gitcoin bounty API that shows open diadata-org bounties as "widget" (i.e. JS element) embedded in our wordpress site. The gitcoin API is documented [here](https://github.com/gitcoinco/web/blob/master/docs/API.md).

The widget should have a selector for showing "open" bounties and "all" bounties (so open, currently in work, and closed ones). These can be retrieved through t

[2018-11-07 12:49] maxgerolstein opened #138 "aaaa"
1. Define your data need specifications within this github issue template
2. Fund the ticket on https://gitcoin.co
3. Approve or reject work submitted
__________________

We are looking for a Go developer that can provide scrapers of a [websocket and REST API].

We reliably want to get trades in realtime from [NAME] exchange. This trade information is then written into our databases using a specif

[2018-11-07 12:49] #138 closed

[2018-11-09 08:36] #122 closed

[2018-11-09 08:49] #131 closed

[2018-11-10 18:38] EdgarBarrantes commented on #136
I'm working on it. And waiting for kaythxbye's instructions via Slack as to where in the codebase to put the code in.

[2018-11-13 15:47] frranck commented on #132
This one is done technically but it will requires some fine tuning for symbol collisions..

[2018-11-13 15:47] #132 closed

[2018-11-15 12:09] #113 closed

[2018-11-19 10:11] kaythxbye opened #149 "Price Delta Discovery"
Discovery for price differences of the same pair on different exchanges.

[2018-11-20 16:12] EdgarBarrantes commented on #136
Yes, still working. Thanks for the time @kaythxbye.

[2018-11-21 04:15] mestorlx opened #152 "coinhub/coin details spinner"
When I am exploring plots of different currencyes whenever I change a parameter i.e exchange or base currency it takes 1-2 Second to update the plots. There is no feedback that the website is working so its very confusing. Adding a spinner or a please wait pop up should help

[2018-11-21 10:18] ceresstation commented on #79
Hey @montanaflynn any updates here? If not we'll have to give this back to the crowd.

[2018-11-22 14:41] kaythxbye commented on #79
@ceresstation We would like to release the bounty to the crowd again, however I couldn't do it last time I checked in the gitcoin web interface.

[2018-11-23 08:54] #94 closed

[2018-12-13 17:23] philgee1981 opened #160 "Realized Cap of Bitcoin (and, if possible, of other cryptocurrencies)"
**Is your feature request related to a problem? Please describe.**
At the Honeybadger 2018 conference Nic Carter presented the realized cap defined as such (by David Puell):
Instead of counting all of the mined coins at equal, current price, the UTXOs are aggregated and assigned a price based on the BTCUSD market price at the time when said UTXOs last moved.

I tried to model this metric by examin

[2019-01-28 13:25] kaythxbye opened #162 "BitBay API scraper"
We are looking for a Go developer that can provide scrapers for the BitBay exchange API.

We reliably want to get trades in realtime from the BitBay exchange. This trade information is then written into our databases using a specific format. We have an existing framework for this which allows us to parametrize the scraper. We work with Go and expect that the scrapers will work concurrently and eff

[2019-01-28 14:58] carlbruns opened #163 "test"
test

[2019-01-28 14:58] #163 closed

[2019-01-30 15:26] kaythxbye opened #165 "Feature request: Include Gold live data"
Write a scraper that includes gold price data for the DIA database.

[2019-02-03 17:46] mestorlx commented on #162
@gitcoinbot PR submitted

[2019-02-22 08:55] #162 closed

[2019-03-18 10:17] caphadoop opened #175 "List of all business organisations in the world registered in their jurisdictions"
1. Define your data need specifications within this github issue template
2. Fund the ticket on https://gitcoin.co
3. Approve or reject work submitted
__________________

We are looking for a Go developer that can provide a scraper of data source API [LINK HERE].

We reliably want to get financial data [ADD SPECIFIC DESCRIPTION] in realtime from source [NAME]. This trade information is then writte

[2019-10-01 13:28] diamw opened #177 "BitMEX API Scraping"
We are looking for a Go developer that can provide a scraper of data source API BitMEX.

We reliably want to get financial data, in particular covering BTC future volume from source BitMEX reflecting the same data points as https://www.skew.com/dashboard/bitcoin-futures - for Analysis. This trade information is then written into our databases using a specific format. We have an existing framework

[2019-10-16 13:35] kaythxbye commented on #177
Hi everyone, how is your progress here? Do you need any help with the issue?

[2019-11-06 13:01] kaythxbye opened #179 "Scraper for Houbi Future contracts"
1. Define your data need specifications within this github issue template
2. Fund the ticket on https://gitcoin.co
3. Approve or reject work submitted
__________________

We are looking for a Go developer that can provide scrapers of the Websocket for future contracts.

We reliably want to get trades in realtime from Huobi exchange. This trade information is then written into our databases using a

[2019-11-07 08:54] kaythxbye opened #180 "Scraper for BitMEX Futures"
1. Define your data need specifications within this github issue template
2. Fund the ticket on https://gitcoin.co
3. Approve or reject work submitted
__________________

We are looking for a Go developer that can provide scrapers of a websocket API.

We reliably want to get futures data in realtime from BitMEX exchange. This trade information is then written into our databases using a specific fo

[2019-11-07 08:58] kaythxbye opened #181 "Scraper for Bitflyer futures"
1. Define your data need specifications within this github issue template
2. Fund the ticket on https://gitcoin.co
3. Approve or reject work submitted
__________________

We are looking for a Go developer that can provide scrapers of a websocket API.

We reliably want to get futures data in realtime from Bitflyer exchange. This trade information is then written into our databases using a specific

[2019-11-08 07:05] kaythxbye opened #182 "Scraper for Binance Futures"
1. Define your data need specifications within this github issue template
2. Fund the ticket on https://gitcoin.co
3. Approve or reject work submitted
__________________

We are looking for a Go developer that can provide scrapers of a websocket API.

We reliably want to get futures data in realtime from Binance exchange. This trade information is then written into our databases using a specific f

[2019-11-08 07:07] kaythxbye opened #183 "Scraper for Coinflex Futures API"
1. Define your data need specifications within this github issue template
2. Fund the ticket on https://gitcoin.co
3. Approve or reject work submitted
__________________

We are looking for a Go developer that can provide scrapers of a websocket API.

We reliably want to get futures data in realtime from Coinflex exchange. This trade information is then written into our databases using a specific

[2019-11-08 07:09] kaythxbye opened #184 "Scraper for Derebit Futures API"
1. Define your data need specifications within this github issue template
2. Fund the ticket on https://gitcoin.co
3. Approve or reject work submitted
__________________

We are looking for a Go developer that can provide scrapers of a websocket API.

We reliably want to get futures data in realtime from derebit exchange. This trade information is then written into our databases using a specific f

[2019-11-08 07:11] kaythxbye opened #185 "Scraper for FTX Futures API"
1. Define your data need specifications within this github issue template
2. Fund the ticket on https://gitcoin.co
3. Approve or reject work submitted
__________________

We are looking for a Go developer that can provide scrapers of a websocket API.

We reliably want to get futures data in realtime from FTX exchange. This trade information is then written into our databases using a specific forma

[2019-11-08 07:15] kaythxbye opened #186 "Scraper for Cryptofacilities Futures API"
1. Define your data need specifications within this github issue template
2. Fund the ticket on https://gitcoin.co
3. Approve or reject work submitted
__________________

We are looking for a Go developer that can provide scrapers of a websocket API.

We reliably want to get futures data in realtime from Cryptofacilities exchange. This trade information is then written into our databases using a s

[2019-11-10 15:10] nazariyv commented on #179
I have the code to run the scraper on any single Huobi futures market and restart the WS client for when it goes down.

It is not saving this data anywhere at the moment. You have mentioned that you have the capabilities to save this in the right format to your database, so I presume writing this data to a file is OK with you?

I will add the capability to subscribe to multiple markets at once, an

[2019-11-10 15:25] tylerferrara commented on #182
I don't see adequate dependency management for this go project. I understand it will be running in separate docker containers, however I cannot follow this development workflow. Please update documentation and initial setup.

[2019-11-11 23:30] nazariyv commented on #179
I have the concurrent scraping of all the possible futures contacts on Huobi and writing to files. Need to handle a couple of edge cases now.

[2019-11-12 01:44] nazariyv commented on #179
Will submit the work tomorrow.

[2019-11-16 22:51] Gungz commented on #183
Sorry, for not replying sooner, I guess I release this bounty first so that other people can work on it. I face an issue which I don't know yet how to do it in Go for the coinFlex API authentication.

[2019-11-21 23:05] nazariyv commented on #185
Just to give you the heads up, I have been refactoring the Huobi a bit, as per the better-unified proposal. It is pretty much done. I might not be able to work tomorrow, as I am on the work trip to Amster atm.

[2019-11-22 17:28] nazariyv commented on #185
looked at FTX, it will require gorilla websocket, since FTX expects a JSON message.

[2019-11-22 18:39] nazariyv commented on #185
subscribed to FTX. need to unify the scrapers

[2019-11-22 18:43] kaythxbye commented on #185
Nice work, I think unifying will probably also speed up other bounties in
that context.

Am Fr., 22. Nov. 2019 um 19:39 Uhr schrieb Nazariy <notifications@github.com

[2019-11-24 11:11] nazariyv commented on #185
Thanks! I am back in London now. I will try to finish this up today in the evening. Would be good to also add a bunch of tests for this, but this is for the future scrapers that I will work on. Current scrapers are very robust anyway.

P.S. I am using the Go 1.13 built-in modules dependency mechanism for the repo where I develop these scrapers before I make a PR, and I love it so far.

[2019-11-25 00:58] nazariyv commented on #185
just the heads up. I have finished FTX + refactors to Huobi. I will make the PR tomorrow.

[2019-11-27 18:03] nazariyv commented on #184
So Deribit is also implementing a JSON-RPC Websocket, which means we can pretty much do what we have done with FTX. The only difference is that their trades channel is a private one, so we need to extend our FuturesScraper structs to accept optional API keys.

@kaythxbye would be great if you could clear the FTX one, if there are no issues, please.

[2019-11-28 14:25] nazariyv commented on #184
Got Deribit working. It was a bit more challenging than the others since it requires additional authentication calls + constant refreshing of those tokens to keep the connection alive. But the implementation follows the style of the scrapers.

@kaythxbye would be great if you could please clear the FTX, let me know what else needs changing there? Thanks!

[2019-11-28 22:16] nazariyv commented on #184
Made even more generalizations with our Futures interface that should help us with all of the scrapers. I should be able to make a PR for Deribit today.

[2019-11-29 00:14] nazariyv commented on #183
ECDSA for authentication, alright alright alright.

[2019-11-29 00:29] nazariyv commented on #183
found an example Python implementation. fixed a small issue with their code and it works in Python, shouldn't be too difficult to replicate in Go since it has ecdsa package too. Might not work as much tomorrow, though.

[2019-11-29 14:40] nazariyv commented on #183
Figured this out. If I have a moment today, should be able to implement this.

[2019-12-02 11:22] nazariyv commented on #179
the latest work (as of 12/02/2019) is on PR: #189

[2019-12-02 11:23] nazariyv commented on #185
the latest work (as of 12/02/2019) is on PR: #189

[2019-12-02 11:23] nazariyv commented on #184
the latest work (as of 12/02/2019) is on PR: #189

[2019-12-03 02:03] nazariyv commented on #183
I have almost everything ready. Just one last small puzzle left to solve, which I think I might have done already - sending a ping frame to Coinflex.

[2019-12-03 20:40] nazariyv commented on #185
latest work on PR: #190

[2019-12-03 20:40] nazariyv commented on #184
latest work on PR: #190

[2019-12-03 20:41] nazariyv commented on #179
latest work on: #190

[2019-12-09 15:46] kaythxbye opened #191 "Options data format"
Define a data format for the options market according to the data available by the scraped exchanges.

[2019-12-09 16:59] karansinghgit commented on #191
Is this issue still open? Gitcoin shows it but doesn't have a button to start working on it.

[2019-12-10 23:46] kaythxbye opened #192 "Deribit Options Scraper"
Implement an options scraper according to the data format defined in the previous task.

[2019-12-10 23:47] kaythxbye opened #193 "VIX Algorithm"
Implement a live data streaming VIX calculation algorithm as a filter so that a REST API endpoint can be derived for the dia database.

[2019-12-11 21:57] nazariyv commented on #191
To define the data format, I need to understand what data is required to compute the CVI. Therefore, the below will list the variables that I require (may do this in multiple comments).

**Required data to calculate #193.**

`T` - time to maturity, in minutes. Minutes in the current day until midnight + minutes in the settlement day + minutes in other days until settlement (excluding the settlemen

[2019-12-11 23:07] nazariyv commented on #193
I will be adding my mathematical interpretations of some of the points in the doc over the next couple of posts. This can be used as the basis for questions, to verify that my understanding is valid.

My interpretation of the CVI filtering algorithm:

<img width="912" alt="Screenshot 2019-12-11 at 23 05 52" src="https://user-images.githubusercontent.com/13678461/70668191-ceceec80-1c6a-11ea-9579-16

[2019-12-11 23:10] nazariyv commented on #193
Note that for the above, we are missing the values $x$ such that $0.49 < x < 0.5$. For that reason, these values will be considered to belong to point 3. So, for example, if the absolute difference is 0.495, then this will be treated as case 3.

[2019-12-11 23:20] nazariyv commented on #191
In terms of the frequency, the filtering algorithm implies numerous calculations within the window of 2 minutes. This implies that the Websocket technology should be used over the REST endpoints. This is good news since we already have an implementation of the Deribit scraper. However, this has to be fine-tuned to only scrape the options + save them in the format described above (this is issue: #1

[2019-12-11 23:55] nazariyv commented on #192
*correction, the expiration date does not change either! I had a brain freeze there. So we will only need to make a single REST API call for each (or for all together) new options for which we have not made this call before.

[2019-12-12 00:14] nazariyv commented on #192
Plan:

1. Make a REST API call to: `https://www.deribit.com/api/v2/public/get_instruments?currency=${}` where the currency is either ETH or BTC. Filter out everything, so that only options remain. This and step 2 are performed just after midnight, every day. (to ensure we capture new options).

2. For each option that we haven't previously written to db / file (@kaythxbye how hard is it for me to

[2019-12-12 13:10] kaythxbye commented on #191
Looks good, although I think it would be good to have a field where to store the exact name of the instrument to be able to track several instruments later on.

[2019-12-12 13:11] kaythxbye commented on #193
After I also went through the VIX document again this understandling looks correct to me.

[2019-12-14 21:49] nazariyv commented on #192
Ensure that AccessKey and AccessSecret are always up to date, or you will be getting 13009 error code. I have this part of code that will panic the whole code so that you re-create the api keys before proceeding with the scraping, otherwise it will look as if you are scraping, but in fact you are not (due to this error; i.e. it will only be partial / limited trades). Fortunately, with the code tha

[2019-12-14 23:03] nazariyv commented on #192
^ should not happen now, since this was an issue with a refresh token. It was shared between the scrapers. However, each scraper needs to have own refreshToken. This is now implemented.

[2019-12-15 00:05] nazariyv commented on #192
1. Need to generalize the deribit futures scraper to accept the channel to which to subscribe.

2. For options, pass the orderbook channel. Deribit has an api_console: https://www.deribit.com/api_console

3. First response is the whole order book, later they give changes. I need to maintain the orderbook myself. Don't need all the price levels. First 10 levels is OK.

4. Check every 2 minutes that

[2019-12-17 13:01] nazariyv commented on #193
Forward level calculation interpretation, pseudo algorithm to follow.

<img width="884" alt="Screenshot 2019-12-17 at 12 59 14" src="https://user-images.githubusercontent.com/13678461/70997514-2cc95d00-20cd-11ea-91e7-0869708b3669.png">

LaTeX:

[code]

[2019-12-17 13:24] nazariyv commented on #193
pseudocode for the forward level calculation (for the above):

[code]

[2019-12-18 00:22] nazariyv commented on #193
current full doc:

<img width="952" alt="Screenshot 2019-12-18 at 00 18 16" src="https://user-images.githubusercontent.com/13678461/71045223-1acad700-212c-11ea-9d1e-c5306721e9c3.png">

<img width="921" alt="Screenshot 2019-12-18 at 00 18 30" src="https://user-images.githubusercontent.com/13678461/71045238-274f2f80-212c-11ea-8d4a-9029eccc7002.png">

<img width="953" alt="Screenshot 2019-12-18 at 00

[2020-02-19 14:54] kaythxbye opened #201 "Integrate VIX into data stream and filter logic"
Currently, the VIX methodology is performing its operations stand-alone. The target of this issue is to integrate the VIX flow into our database system.

Data structures are defined in `pkg/dia/Messages.go` where new data structures should be added for the VIX related topics, similar to the existing `Trade` data structure. The VIX algorithm itself should then be implemented as a filter, similar to

[2020-02-20 21:39] nazariyv commented on #201
1. Where are the types put in `Messages.go` subsequently used? Why do we need to put them here?

2.
a. are you talking about `computeMean` in `Filter.go`?
b. if yes to 2.a: CVI can be computed from a bunch of samples like mean, but CVI filter cannot. CVI filter requires historical CVI values. Which calculation is required here?

3. Can you give me a bit more details on this? Is this a GET / POST?

[2020-02-20 21:52] kaythxbye commented on #201
1. Messages are used here: https://github.com/diadata-org/diadata/blob/d725ec8132a7e7093cf0a8be6be3d9d4efcb7e0e/pkg/dia/helpers/kafkaHelper/Kafka.go
I think the best approach would be to add the raw data formats there (i.e. the data scraped from Deribit) so that they can be processed as they stream in.

2a. Yes, sorry for the confusion.

2b. Couldn't we get both? So a CVI and a CVI-filter that que

[2020-02-21 13:15] nazariyv commented on #201
Scope:

1. Add all the base types that are used in the VIX algorithm to `Messages.go`. (1.5 hours)
2.  I have noticed that the mean function does not use any goroutines inside of it, which means that the CVI Filter function cannot be used out of the box, I would need to rewrite it such that it takes the historical value instead. Which isn't too big of a problem. (max 4 hours)

3. This step is a bi

[2020-02-22 11:37] kaythxbye commented on #201
Regarding near and next term I understand that as they are designed to overlap, they're measuring points of the same "phenomenon" 7 days apart. Although I am not entirely sure I correctly understand the core of your question.

[2020-02-23 14:50] nazariyv commented on #201
My question:
CVI Level calculation is the time-weighted value of CVI Indexes: $\sigma_1$ and $\sigma_2$. The CVI Index defines the formula for $\sigma_1$ and $\sigma_2$. However, from the definition in the document:

[code]

it is not clear to me which options should be used for $\sigma_1$ and which ones for $\sigma_2$ since the definition overlaps. You mentioned they should overlap, but in the ab

[2020-02-26 12:25] diamw opened #203 "DeFI Lending | MasterKey Risk Analysis"
We are looking for a Research Analyst to source and link DeFi Applications Master Keys. An outcome, with credit to sources, should include this data layer and points: 1. https://docs.google.com/spreadsheets/d/1b9KwXfPPEgvpy2nxlpnLhtPMd7S5KfIx-hf4Hv77kBk/edit#gid=0 / 2. https://defiwatch.net/admin-key-config-and-opsec/project-reviews

We reliably want to get the primary information and links to the

[2020-02-29 22:19] jay-dee7 commented on #79
@kaythxbye @gitcoinbot can i start working on this?

[2020-03-25 11:20] kaythxbye opened #208 "FTX Options Scraper"
Write a scraper that gets data from the FTX websocket API: https://docs.ftx.com/#websocket-api
Integrate it into DIA database using influxdb, similar to the OptionsDeribitScraper in the scrapers package.
More documentation can be found at https://docs.diadata.org

[2020-03-25 18:24] leomeneguzzi commented on #208
Hi, I didn't found the `OptionsDeribitScraper` in the `package scraper`, is this in branch master? Can you point the relative path to the file? Example: `internal/pkg/exchange-scrapers/BinanceScraper.go`
Thanks

[2020-03-29 07:01] lzxm160 commented on #208
what to use to build? go mod or others? I cannot build

[2020-04-07 14:48] mikeghen commented on #208
I got the project to build and ran the Deribit Options Scrapper locally, I was able to use influx to view the data too.

Now, I'm looking over this now and I'm not seeing that the options data on FTX matching how its presented on Deribit. In FTX, it looks like there is  no options order book with bid and asks. Basically you make a request quote or you can see all the other quotes requested by user

[2020-04-08 20:34] mikeghen commented on #208
Hey @kaythxbye, I left a comment above here about how to best transform and load the options data from FTX since it's not exactly stored in an order book with bids and asks. Let me know what you think would be best to do with the data. I was wondering if it makes sense to just take all requests and transform them into something that matches the format of the Deribit options data already being load

[2020-04-09 14:14] kaythxbye commented on #208
I think analyzing the open order could work. Important for us are the strike prices, bid-ask-spread for each instrument and the current price the instrument is traded for. So grabbing the "middle" of the open orders simulates the order book if I understand this correctly. By that, we could go with this hack to achieve our scraping.

[2020-04-10 17:08] mikeghen commented on #208
Thanks @kaythxbye

That makes sense. It seems the orders here are a little thin for each strike price. I will try to do a transformation on the orders here to conform with what's already in the database from Deribit. It might be the case that we see a lot of one-sidedness where some strike prices only have a bid/ask, so it won't really have a spread. However, if FTX options become more popular, th

[2020-04-23 11:49] jppade opened #210 "Write a scraper for SONIA interest rate"
We are looking for a Go developer that can provide a scraper for the SONIA interest rate issued by the Bank of England.

The submitted work has to include the API scraper as well as a pull request with the respective documentation of the added code.

The DIA documentation and more specific instructions on how to contribute can be found here:
https://docs.diadata.org/documentation/tutorials/write-y

[2020-04-27 11:48] sebastiantf commented on #210
Hey, is there a similar scraper already developed that I could refer?

[2020-04-27 11:53] kaythxbye commented on #210
Yes, they are located here: https://github.com/diadata-org/diadata/tree/master/internal/pkg/ratescrapers

Note that in the linked documentation there is also a link to a pdf describing which part of the architecture does what.

[2020-04-27 11:55] sebastiantf commented on #210
Great! Thanks.

[2020-04-28 19:55] kaythxbye opened #211 "Write a OKEx scraper for options"
We are looking for a Go developer who can provide a scraper for the OKEx Bitcoin Options market. The API documentation of OKEx can be found here: https://www.okex.com/docs/en/#option-option---book

We need order book data to be written into our influxdb, just as is done with Deribit in our exchange-scrapers package.

[2020-04-29 20:23] kaythxbye commented on #211
Great! In case you have any questions please reach out to me either here or on Telegram.

[2020-04-30 06:48] diamw opened #212 "DeFi Lending Rate Scrapers"
We are looking for a Research Analyst to source and link DeFi Lending & Borrowing rates.
The outcome shall be a [sraper], connected to our API and documented. The data (not frontend) similar to https://defirate.com/lend/.

We reliably want to get the primary information and links to these primary sources for all DeFi lending and borrowing protocols.
-  Compound
-  dYdX
-  Fulcrum
-  Nuo
-  Aave
-

[2020-04-30 16:18] sebastiantf commented on #210
Yes @gitcoinbot. I'm working on it.

[2020-05-02 09:45] sebastiantf commented on #210
I'm sorry, but I'm gonna have to stop work on this issue. Because even after spending much time on how to proceed with this issue, I'm not seeing much improvement.

[2020-05-06 12:03] #210 closed

[2020-05-09 20:02] nazariyv commented on #208
don't worry gitcoin bot, i haven't forgotten. I will get it done tomorrow

[2020-06-01 15:17] nazariyv commented on #208
looking at this now again

[2020-06-03 14:10] kaythxbye opened #216 "Coinflex API Scraper"
We want to include an API scraper for the crypto exchange Coinflex. Please use the tutorial here to get an idea on how to include that exchange into our system: https://docs.diadata.org/documentation/tutorials/exchangescrapers

[2020-06-25 09:07] kaythxbye opened #219 "Scraper for DeFi Lending Rates for Maker"
Your job is to source and connect the Maker lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Total ETH locked
- Total USDC locked
- Underlying Blockchain
- Protocol token (if applicable)

Please commit

[2020-06-26 11:07] touhonoob commented on #219
Hmm the subject is a bit confusing to me. In the comment section it requires `DeFi Total Value Locked` while the subject says `DeFi Lending Rates for Maker`. Is this actually about the overall stats of DeFi rather than Maker alone?

[2020-06-29 08:59] diamw opened #220 "Defi Lending Rate Scraper for Compound"
Your job is to source and connect the Compound lending protocol, sourcing lending rates, volume and other data (see below), pushing it into our database for open-source DeFi usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Total ETH locked
- Total USDC locked
- Underlying Blockchain
- Protocol token (if applicab

[2020-06-29 16:24] harsh-98 commented on #220
I have looked at the compound contract . Most of the data that you want can be queried directly from the smart contract. https://etherscan.io/address/0x3fda67f7583380e67ef93072294a7fac882fd7e7#readContract.

For example, we can query the `market` method for BAT by providing BAT address . `0x0D8775F648430679A709E98d2b0Cb6250d2887EF` .

So, the scrapper that i am proposing will query smart contract

[2020-07-07 13:51] jppade opened #221 "Defi Lending Rate Scraper for Synthetix"
Your job is to source and connect the Synthetix lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Biggest Protocol/Dominance % of total
- Total Value Locked (24H in USD; ETH; BTC)
- Total ETH locked
- Un

[2020-07-08 07:32] jppade commented on #221
@niktrix Hope you have fun with the task. In case you have a question don't hesitate to ask here or on Telegram (same name as my name here).

[2020-07-09 07:06] jppade opened #222 "Defi Lending Rate Scraper for Aave"
Your job is to source and connect the Aave lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Total Value Locked (24H in USD; ETH; BTC)
- Total ETH locked
- Underlying Blockchain
- Most locked asset
- Pro

[2020-07-09 07:11] jppade opened #223 "Defi Lending Rate Scraper for dYdX"
Your job is to source and connect the dYdX lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Biggest Protocol/Dominance % of total
- Total Value Locked (24H in USD; ETH; BTC)
- Total ETH locked
- Underly

[2020-07-09 07:15] jppade opened #224 "Defi Lending Rate Scraper for DDEX"
Your job is to source and connect the DDEX lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- Total ETH locked
- Total USDC locked
- Underlying Blockchain
- Most locked asset
- Protocol token (if applicable)

Please commit a scraper whi

[2020-07-09 07:18] jppade opened #225 "Defi Lending Rate Scraper for bZx"
Your job is to source and connect the bZx lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Total Value Locked (24H in USD; ETH; BTC)
- Total ETH locked
- Underlying Blockchain
- Most locked asset
- Prot

[2020-07-09 07:22] jppade opened #226 "Defi Lending Rate Scraper for Bancor"
Your job is to source and connect the Bancor lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- Total ETH locked
- Total USDC locked
- Underlying Blockchain
- Most locked asset
- Protocol token (if applicable)

Please commit a scraper w

[2020-07-09 07:25] jppade opened #227 "Defi Lending Rate Scraper for MCDEX"
Your job is to source and connect the MCDEX lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Biggest Protocol/Dominance % of total
- Total Value Locked (24H in USD; ETH; BTC)
- Total ETH locked
- Underl

[2020-07-09 12:43] niktrix commented on #221
Synthetix has paused lending currently, due to Collateral Bug. https://blog.synthetix.io/bug-disclosure/

[2020-07-11 08:21] zauddelig commented on #227
does it need to be written in GO?

[2020-07-12 23:50] developerfred commented on #227
yes! this project is Go

[2020-07-13 06:01] zauddelig commented on #227
Thanks, another question, the scraper must acquire the data directly from the Ethereum blockchaiin or it can acquire the data from some HTTP API that might be laying around?

[2020-07-13 16:07] jppade opened #231 "Defi Lending Rate Scraper for InstaDApp"
Your job is to source and connect the InstaDApp lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Total ETH locked
- Total USDC locked
- Underlying Blockchain
- Protocol token (if applicable)

Please com

[2020-07-13 17:01] jppade opened #233 "Defi Lending Rate Scraper for Nuo Network"
Your job is to source and connect the Nuo Network lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Total ETH locked
- Underlying Blockchain
- Protocol token (if applicable)

Please commit a scraper whic

[2020-07-13 17:04] jppade opened #234 "Defi Lending Rate Scraper for RAY"
Your job is to source and connect the RAY lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Total ETH locked
- Underlying Blockchain
- Protocol token (if applicable)

Please commit a scraper which ideall

[2020-07-13 17:07] jppade opened #235 "Defi Lending Rate Scraper for Dharma"
Your job is to source and connect the Dharma lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Total ETH locked
- Underlying Blockchain
- Protocol token (if applicable)

Please commit a scraper which ide

[2020-07-14 07:38] iamonuwa commented on #233
@jppade how do I reach you?

[2020-07-14 09:37] jppade opened #240 "Write an exchange scraper for bancor protocol"
We are looking for a developer that can provide a scraper for trading data from the bancor protocol.
The scraper must be written in go and work concurrently and efficiently. You should adapt to our underlying data structures. For information on implementation details, please have a look at:

https://docs.diadata.org/documentation/tutorials/exchangescrapers

Please commit a scraper which ideally al

[2020-07-14 10:14] #234 closed

[2020-07-14 10:21] iamonuwa commented on #233
I'm looking for api to fetch nuo data from. Any recommendations?

[2020-07-14 10:42] #235 closed

[2020-07-14 13:29] jppade opened #244 "Write an exchange scraper for Balancer DEX protocol"
We are looking for a developer that can provide a scraper for trading data from the Balancer DEX protocol.
The scraper must be written in Go and work concurrently and efficiently. You should adapt to our underlying data structures. For information on implementation details, please have a look at:

https://docs.diadata.org/documentation/tutorials/exchangescrapers

Please commit a scraper which idea

[2020-07-15 09:32] #220 closed

[2020-07-15 09:33] #222 closed

[2020-07-15 09:33] #224 closed

[2020-07-15 09:34] #223 closed

[2020-07-15 12:00] nightwolf3 commented on #226
Hello
Can I build the scraper in Python? It shouldn't take me too long if yes

[2020-07-15 14:48] rl1987 commented on #79
Is the bounty still being offered for this ticket?

[2020-07-17 13:42] jppade opened #251 "Write an exchange scraper for Curve Finance DEX"
We are looking for a developer that can provide a scraper for trading data from the Curve Finance DEX:
https://www.curve.fi/
The scraper must be written in Go and work concurrently and efficiently. You should adapt to our underlying data structures. For information on implementation details, please have a look at:

https://docs.diadata.org/documentation/tutorials/exchangescrapers

and/or existing

[2020-07-17 14:03] jppade opened #252 "Write an exchange scraper for Uniswap V2 DEX"
We are looking for a developer that can provide a scraper for trading data from the Uniswap V2 DEX.
The scraper must be written in Go and work concurrently and efficiently. You should adapt to our underlying data structures. For information on implementation details, please have a look at:

https://docs.diadata.org/documentation/tutorials/exchangescrapers

Please commit a scraper which ideally als

[2020-07-20 14:10] jppade opened #255 "Write an exchange scraper for Loopring DEX"
We are looking for a developer that can provide a scraper for trading data from the Loopring DEX protocol.
The scraper must be written in Go and work concurrently and efficiently. You should adapt to our underlying data structures. For information on implementation details, please have a look at:

https://docs.diadata.org/documentation/tutorials/exchangescrapers

Please commit a scraper which idea

[2020-07-20 18:18] jppade opened #257 "Research Issue, DeFi derivatives"
We are looking for a developer who is experienced in DeFi. Your task is to do research on the protocols in the "derivatives" category of https://defipulse.com/
More precisely, please answer the following questions for all 7 sites on the list:

1. What types of derivatives are available?
2. What types are shared across sites? What are the differences?
3. Referring to item 2.:  What data format(s) c

[2020-07-25 22:25] wubswurld opened #259 "Defi Lending Rate Scraper for Bancor"
Your job is to source and connect the <NAME> lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Biggest Protocol/Dominance % of total
- Total Value Locked (24H in USD; ETH; BTC)
- Total ETH locked
- Under

[2020-07-26 13:35] AditiRaghuvanshi commented on #257
Hi I have completed the doc. Below is the github link

**https://github.com/AditiRaghuvanshi/DEFIResearch**

I have filled in all the information needed.

[2020-07-26 18:13] jppade commented on #257
@AditiRaghuvanshi Thank you for the PR and your dedication to the task. Could you please address item 3. from the above list as well? I.e.,
3. Referring to item 2.: What data format(s) can be introduced in order to integrate products? (preferably think in Go, as we do)
For instance in prediction markets, what are the quantities that define a product and can be used to introduce a data format that

[2020-07-27 18:04] AditiRaghuvanshi commented on #257
Hi Jppade,

Thanks for the feedback. I am working on the points listed in above comment and will get back to you tomorrow with all the information i can get.

[2020-07-28 19:25] phibosGit opened #260 "Hello!!"
We are looking for a developer who is experienced in DeFi. Your task is to do research on the protocols in the "derivatives" category of https://defipulse.com/
More precisely, please answer the following questions for all 7 sites on the list:

1. What types of derivatives are available?
2. What types are shared across sites? What are the differences?
3. Referring to item 2.:  What data format(s) c

[2020-07-29 07:01] jppade commented on #259
@wubswurld Hi, we already posted this issue a couple of days ago. As Bancor protocol V2 is announced and expected to be there very soon. As long as it isn't there, we put the issue on hold but expect to activate it on gitcoin soon.

[2020-08-02 08:35] olikostru opened #263 "Defi Lending Rate Scraper for <SOURCE NAME>"
Your job is to source and connect the <NAME> lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Biggest Protocol/Dominance % of total
- Total Value Locked (24H in USD; ETH; BTC)
- Total ETH locked
- Under

[2020-08-03 12:11] sebastienvs opened #264 "HelloWorld"
Your job is to source and connect the <NAME> lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Biggest Protocol/Dominance % of total
- Total Value Locked (24H in USD; ETH; BTC)
- Total ETH locked
- Under

[2020-08-03 23:15] long96350 opened #265 "Defi Lending Rate Scraper for <SOURCE NAME>"
Your job is to source and connect the <NAME> lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Biggest Protocol/Dominance % of total
- Total Value Locked (24H in USD; ETH; BTC)
- Total ETH locked
- Under

[2020-08-03 23:15] long96350 opened #266 "Dèi"
We are looking for a developer who is experienced in DeFi. Your task is to do research on the protocols in the "derivatives" category of https://defipulse.com/
More precisely, please answer the following questions for all 7 sites on the list:

1. What types of derivatives are available?
2. What types are shared across sites? What are the differences?
3. Referring to item 2.:  What data format(s) c

[2020-08-06 07:07] #259 closed

[2020-08-06 09:17] #260 closed

[2020-08-06 09:17] #263 closed

[2020-08-06 09:17] #264 closed

[2020-08-06 09:17] #265 closed

[2020-08-06 09:17] #266 closed

[2020-08-06 09:17] #251 closed

[2020-08-06 09:17] #252 closed

[2020-08-06 09:17] #255 closed

[2020-08-06 09:18] #225 closed

[2020-08-06 09:21] jppade opened #267 "Write an exchange scraper for Maker protocol"
We are looking for a developer that can provide a scraper for trading data from the Maker protocol.
The scraper must be written in Go and work concurrently and efficiently. You must adapt to our underlying data structures. For information on implementation details, please have a look at:

https://docs.diadata.org/documentation/tutorials/exchangescrapers

[2020-08-06 09:35] jppade opened #268 "Write an exchange scraper for historic data of Maker protocol"
We are looking for a developer that can provide a scraper for historic trading data from the Maker protocol. Please introduce a structure similar to the staticscrapers in our repository.
The scraper must be written in Go and work concurrently and efficiently. You should adapt to our underlying data structures. For information on implementation details, please have a look at:

https://docs.diadata.

[2020-08-06 13:28] long96350 opened #269 "Defi Lending Rate Scraper for <SOURCE NAME>"
Your job is to source and connect the <NAME> lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Biggest Protocol/Dominance % of total
- Total Value Locked (24H in USD; ETH; BTC)
- Total ETH locked
- Under

[2020-08-06 13:34] long96350 opened #270 "Defi Lending Rate Scraper for <SOURCE NAME>"
Your job is to source and connect the <NAME> lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Biggest Protocol/Dominance % of total
- Total Value Locked (24H in USD; ETH; BTC)
- Total ETH locked
- Under

[2020-08-06 14:59] kaythxbye commented on #6
Closed due to age.

[2020-08-06 14:59] #6 closed

[2020-08-06 15:00] kaythxbye commented on #49
Fixed, new documentation is at https://docs.diadata.org

[2020-08-06 15:00] #49 closed

[2020-08-06 15:01] #64 closed

[2020-08-06 15:02] #56 closed

[2020-08-06 15:08] kaythxbye commented on #79
@rl1987 Yes, are you still interested?

[2020-08-06 15:09] #93 closed

[2020-08-06 15:11] rl1987 commented on #79
I might give it a try.

[2020-08-06 15:15] #149 closed

[2020-08-06 15:20] #165 closed

[2020-08-06 15:21] kaythxbye commented on #175
Too unspecific

[2020-08-06 15:21] #175 closed

[2020-08-06 15:21] #179 closed

[2020-08-06 15:22] #184 closed

[2020-08-06 15:22] #193 closed

[2020-08-06 15:22] #221 closed

[2020-08-06 15:22] #219 closed

[2020-08-06 16:46] #191 closed

[2020-08-06 16:46] #186 closed

[2020-08-06 16:47] #185 closed

[2020-08-06 16:47] #233 closed

[2020-08-06 16:47] #240 closed

[2020-08-06 16:48] kaythxbye commented on #270
Hey, which source would you like to have included?

[2020-08-06 16:49] kaythxbye commented on #269
Closed because of duplicate of #270

[2020-08-06 16:49] #269 closed

[2020-08-06 16:58] kaythxbye opened #271 "Browser Automation: Tool to automate Dune Analytics refreshs"
We have a Dune dashboard (https://explore.duneanalytics.com/public/dashboards/WzHaGtSUTDCS9gNValxy7AVqTGkYSsIntgaxaMZl) and would like to automate the refreshment process. To repoduce the issue:

1. Go to https://explore.duneanalytics.com/public/dashboards/WzHaGtSUTDCS9gNValxy7AVqTGkYSsIntgaxaMZl
2. Create a free account and click on "See and fork queries" on the top right
3. In each widget you se

[2020-08-06 19:24] yacare555 commented on #271
Please add this bookmarklet to your favourites bar.  (note that once you press it, it will wait 15 min to start refreshing)

[code]

[2020-08-06 21:53] yacare555 commented on #271
I changed the script to skip the first refreshment wheel which was causing a refresh to all the items at once.

[2020-08-07 07:47] kaythxbye commented on #271
Hi @yacare555 thanks for your script, it works perfectly! Can you please do the formal "Submit work" process in Gitcoin? Because otherwise it seems I can't release the bounty to you.

[2020-08-07 17:25] kaythxbye opened #273 "Create frontend for web3 DApp"
We look for a frontend web developer to create a standalone site (or widget) to interact with an Ethereum smart contract. The product we build is a yield smart contract, where people can deposit ERC20 tokens that are locked up for a user-determined time and generate yield depending on the length of time. There are three durations available. Integration with Metamask (web3) is the first priority, a

[2020-08-08 01:23] marcosrin opened #274 "No llegan los DAI comprados a mi metamask"
Compré DAI y no llegaron a mi metamask . Habrá forma de solucionarlo. Gracias

[2020-08-08 07:46] kaythxbye commented on #274
Did you add them as custom tokens? In Metamask go to "Assets" -> "Add Token" -> "Custom Token" and use 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419 for our address.

If this doesn't work please contact us in our support channel on Telegram: https://t.me/DIAdata_org

[2020-08-08 07:46] #274 closed

[2020-08-08 21:05] kaythxbye commented on #273
Hey @mul1sh we can either communicate here, in Gitcoin chat or on telegram to be connected as quickly as possible.

[2020-08-09 04:29] mul1sh commented on #273
@kaythxbye sure no worries. Let us continue in gitcoin chat, thanks 🙂

[2020-08-10 13:49] niktrix commented on #267
https://github.com/diadata-org/diadata/pull/275

[2020-08-13 13:28] kidkal opened #277 "Doing some Defi Research"
We are looking for a developer who is experienced in DeFi. Your task is to do research on the protocols in the "derivatives" category of https://defipulse.com/
More precisely, please answer the following questions for all 7 sites on the list:

1. What types of derivatives are available?
2. What types are shared across sites? What are the differences?
3. Referring to item 2.:  What data format(s) c

[2020-08-13 20:11] #277 closed

[2020-08-13 20:11] kidkal commented on #277
joining on to #257

[2020-08-13 20:33] kidkal commented on #257
Hi, can I contribute to this issue?  Where should I put the doc?

[2020-08-14 00:43] kidkal commented on #257
https://gist.github.com/kidkal/a1c92d6f28930fa7b52c89f3e538b99b

[2020-08-14 04:08] Huitzilli opened #278 "Staking DIA"
When should I be able to stake my DIA ?

[2020-08-15 04:03] Huitzilli opened #279 "Locked DIA tokens Interest program"
How do I know if my DIA tokens are locked up in the interest program?
Email: chessmasterdiaz@gmail.com

[2020-08-17 23:57] KevinKelley commented on #219
Just checking, is this (gitcoin bounty) still active?

[2020-08-18 03:54] #271 closed

[2020-08-18 13:11] jBhalchandra opened #280 "Bhalchandra1Defi Lending Rate Scraper for <SOURCE NAME>"
Your job is to source and connect the <Bhalchandra> lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Biggest Protocol/Dominance % of total
- Total Value Locked (24H in USD; ETH; BTC)
- Total ETH locked

[2020-08-18 13:21] jBhalchandra opened #281 "Jbhalchandra9"
We are looking for a developer who is experienced in DeFi. Your task is to do research on the protocols in the "derivatives" category of https://defipulse.com/
More precisely, please answer the following questions for all 7 sites on the list:

1. What types of derivatives are available?
2. What types are shared across sites? What are the differences?
3. Referring to item 2.:  What data format(s) c

[2020-08-18 13:22] jBhalchandra commented on #281
Thanks

[2020-08-20 06:00] jBhalchandra opened #282 "Defi Lending Rate Scraper for <b.v.j198272@gmail.com>"
Your job is to source and connect the <NAME> lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Biggest Protocol/Dominance % of total
- Total Value Locked (24H in USD; ETH; BTC)
- Total ETH locked
- Under

[2020-08-20 07:47] jppade opened #283 "Write an exchange scraper for KuCoin exchange"
We are looking for a developer that can provide a scraper for trading data from the KuCoin exchange.
The scraper must be written in Go and work concurrently and efficiently. You should adapt to our underlying data structures. For information on implementation details, please have a look at:

https://docs.diadata.org/documentation/tutorials/exchangescrapers

If available, please use a websocket API

[2020-08-20 07:53] jppade opened #284 "Write an exchange scraper for BitMax exchange"
We are looking for a developer that can provide a scraper for trading data from the BitMax exchange.
The scraper must be written in Go and work concurrently and efficiently. You should adapt to our underlying data structures. For information on implementation details, please have a look at:

https://docs.diadata.org/documentation/tutorials/exchangescrapers

If available, please use a websocket API

[2020-08-25 11:24] niktrix commented on #283
https://github.com/diadata-org/diadata/pull/285

[2020-08-26 17:29] yusa24 opened #287 "x_0.1"
We are looking for a developer that can provide a scraper for trading data from the <NAME> protocol.
The scraper must be written in Go and work concurrently and efficiently. You should adapt to our underlying data structures. For information on implementation details, please have a look at:

https://docs.diadata.org/documentation/tutorials/exchangescrapers

Please commit a scraper which ideally al

[2020-08-28 13:18] jppade opened #288 "Defi Lending Rate Scraper for ForTube"
We are looking for a Go developer that can provide a scraper the ForTube lending protocol, fetching the following data:

- Lending Rate
- Borrowing Rate
- DeFi Total Value Locked in USD and ETH
- Underlying Blockchain
- Protocol token (if applicable)

Please retrieve the information directly from the smart contract, using Infura API. The scraper must be written in Go and work concurrently and effi

[2020-08-28 13:40] jppade opened #289 "Switch CurveFi DEX Scraper to Infura"
We are looking for a Go developer who is experienced with the Ethereum blockchain.
Your task is to adapt the scraping mechanism in the CurveFi DEX scraper in our repository (internal/pkg/exchange-scrapers/CurvefiScraper.go) such that all data is retrieved directly from the smart contract. The data formats and the scraped quantities should remain the same. In order to connect to the Ethereum blockc

[2020-08-28 13:44] jppade opened #290 "Switch Balancer DEX Scraper to Infura"
We are looking for a Go developer who is experienced with the Ethereum blockchain.
Your task is to adapt the scraping mechanism in the Balancer DEX scraper in our repository  (internal/pkg/exchange-scrapers/BalancerScraper.go) such that all data is retrieved directly from the smart contract. The data formats and the scraped quantities should remain the same. In order to connect to the Ethereum blo

[2020-08-28 14:07] kaythxbye commented on #282
Do you have a specific data source you wish to fund?

[2020-08-28 14:08] kaythxbye commented on #281
Duplicate

[2020-08-28 14:08] #281 closed

[2020-08-28 14:08] kaythxbye commented on #280
Do you have a specific data source you wish to fund?

[2020-08-28 14:08] kaythxbye commented on #287
Do you have a specific data source you wish to fund?

[2020-08-28 16:13] yacare555 commented on #289
Thanks @jppade.

[2020-08-31 07:44] tmlee opened #291 "CoinGecko data scraper"
CoinGecko provides market data via an API with the documentation here https://www.coingecko.com/api

I think it makes sense for these market data to be served on the DIA platform to be consumed by other smart contracts.

Looking at the readme here it seems like https://docs.diadata.org/documentation/tutorials/exchangescrapers might be useful to look at in order to get started for DIA.

[2020-08-31 08:06] kaythxbye commented on #291
Please implement the scraping functionality in the foreign-scraper package. For the data types please refer to foreignTypes.go in the package internal/pkg/model. The scraper should be run by foreign.go in cmd/foreign-scrapers. Finally, the scraped data should be saved to influxdb. To get an idea how this process works, you can have a look at our already implemented exchange-scrapers.

[2020-09-01 11:33] jppade opened #292 "Defi Scraper for SushiSwap"
We are looking for a Go developer that can provide a scraper for the SushiSwap protocol, fetching the following data:

- Yield rates for the various pools
- DeFi Total Value Locked in USD and ETH
- Underlying Blockchain
- Protocol token (if applicable)

Please retrieve the information directly from the smart contract, using Infura API. The scraper must be written in Go and work concurrently and ef

[2020-09-01 14:57] yacare555 commented on #290
Yes, I'm working on it, I expect to send a PR today

[2020-09-01 14:58] yacare555 commented on #289
Yes, I'm working on it, I expect to send a PR today

[2020-09-03 19:03] yacare555 commented on #288
Working on it

[2020-09-04 12:03] Mrajori opened #295 "Defi Lending Rate Scraper for <SOURCE NAME>"
Your job is to source and connect the <Mrajori > lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Biggest Protocol/Dominance % of total
- Total Value Locked (24H in USD; ETH; BTC)
- Total ETH locked
- U

[2020-09-04 19:02] Aungkohtet19 opened #296 "Defi Lending Rate Scraper for <SOURCE NAME>"
Your job is to source and connect the <NAME> lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Biggest Protocol/Dominance % of total
- Total Value Locked (24H in USD; ETH; BTC)
- Total ETH locked
- Under

[2020-09-05 18:55] janus commented on #291
@gitcoinbot
On it take it easy

[2020-09-05 22:57] janus commented on #291
@kaythxbye  Which of the APIs should I use here ? https://www.coingecko.com/en/api . However, I intend to experiment

[2020-09-05 23:07] kaythxbye commented on #291
@janus You should be able to get most data points required by the struct here (https://github.com/diadata-org/diadata/blob/master/pkg/model/foreignTypes.go) from /coins/{id} in the Coingecko API.

[2020-09-06 22:54] janus commented on #291
@kaythxbye
[code]
What is ITIN?
And `ForeignQuotation ` is it to be sent to the datastore or via the chanTrades(a replacement of Trade type?
I saw this `internal/pkg/foreign-scrapers/CoingeckoScraper.go`, how is it related to what I am coding?

[2020-09-09 03:31] janus commented on #291
@kaythxbye  Still waiting for your feedback

[2020-09-09 07:36] jppade commented on #291
@janus
Sorry for the delay. ITIN is the "International Token Identification Number"
https://itsa.global/
It would be nice if you find a way to get it, but it's not mandatory.
`internal/pkg/foreign-scrapers/CoingeckoScraper.go` is a suggestion on where to put the scraping logic.
The ForeignQuotation struct can be sent directly to the datastore (influx) with appropriate tags.
Also, it would be great

[2020-09-10 00:33] jBhalchandra commented on #280
My old Account is b.v.j198272@gmail.com
My new email address is jbhalchandra929@gmail.com

[2020-09-10 17:28] yacare555 commented on #289
working on this

[2020-09-10 17:29] yacare555 commented on #288
working on it

[2020-09-10 23:00] janus commented on #291
@jppade I tried connecting with you via telegram but your setting would not allow me through. My handle is AkaMoFo.

[2020-09-11 15:19] #295 closed

[2020-09-11 15:19] #296 closed

[2020-09-12 01:38] nazariyv commented on #292
not needed anymore :)

[2020-09-15 18:38] ivansim1992 opened #302 "Defi Lending Rate Scraper for <SOURCE NAME>"
Your job is to source and connect the <NAME> lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Biggest Protocol/Dominance % of total
- Total Value Locked (24H in USD; ETH; BTC)
- Total ETH locked
- Under

[2020-09-15 23:45] davidstrouk commented on #182
Hi @kaythxbye, is this scrape still relevant?

[2020-09-16 14:31] #288 closed

[2020-09-16 14:31] #283 closed

[2020-09-17 10:07] jppade opened #303 "Switch Gnosis DEX Scraper to Infura"
We are looking for a Go developer who is experienced with the Ethereum blockchain.
Your task is to adapt the scraping mechanism in the Gnosis DEX scraper in our repository such that all data is retrieved directly from the smart contract. The data formats and the scraped quantities should remain the same. In order to connect to the Ethereum blockchain, please use the Infura API.

[2020-09-17 16:25] janus commented on #291
@gitcoinbot  I have pushed a WIP. This task would be submitted with 38 hours

[2020-09-22 09:04] janus commented on #291
@jppade
This is PR, https://github.com/diadata-org/diadata/pull/305

[2020-09-22 17:14] kaythxbye opened #306 "Generic supply scraper for ERC20 tokens"
Write a scraper that retrieves the circulating supply of an ERC20 token. You can take a look here on how to connect to a Ethereum node (or Infura) and retrieve the supply for an ERC20 token: https://github.com/diadata-org/diadata/blob/master/internal/pkg/blockchain-scrapers/blockchains/ethereum/scrapers/erc20/main.go

Your scraper should take arguments for the token address and read a config file

[2020-09-23 08:16] #289 closed

[2020-09-23 08:16] #290 closed

[2020-09-23 08:16] #292 closed

[2020-09-23 08:16] #303 closed

[2020-09-23 08:22] jppade opened #307 "Write an exchange scraper for dForce DEX"
We are looking for a developer that can provide a scraper for trading data from the dForce protocol (https://trade.dforce.network/).
Please retrieve the data directly from the smart contract, using Infura API. The scraper must be written in Go and work concurrently and efficiently. Furthermore, you should adapt to our underlying data structures. For information on implementation details, please ha

[2020-09-23 09:22] jppade opened #308 "Write an exchange scraper for IDEX protocol"
We are looking for a developer that can provide a scraper for trading data from the IDEX DEX.
Please retrieve the data directly from the smart contract, using Infura API. The scraper must be written in Go and work concurrently and efficiently. Furthermore, you should adapt to our underlying data structures. For information on implementation details, please have a look at:

https://docs.diadata.org

[2020-09-23 09:28] jppade opened #309 "Write an exchange scraper for CREAM DEX protocol"
We are looking for a developer that can provide a scraper for trading data from CREAM DEX.
Please retrieve the data directly from the smart contract, using Infura API. The scraper must be written in Go and work concurrently and efficiently. Furthermore, you should adapt to our underlying data structures. For information on implementation details, please have a look at:

https://docs.diadata.org/do

[2020-09-23 10:32] nightwolf3 commented on #307
Hello @jppade
You posted two bounties for two exchanges
but can I ask what do you need Infura API for?
and what data specifically needs to be written?

[2020-09-23 16:20] jppade commented on #307
@nightwolf3 Thanks for your interest.
We want the scrapers to fetch data directly from the protocol contracts. We recommend to use Infura in order to access the Ethereum blockchain. If you have access to an Ethereum node you can use it too, of course.
The data that needs to be written is the struct dia.Trade, see:
https://github.com/diadata-org/diadata/blob/master/pkg/dia/Messages.go
For further i

[2020-10-02 00:39] janus commented on #306
Here is my PR, https://github.com/diadata-org/diadata/pull/312

[2020-10-02 16:34] #291 closed

[2020-10-02 17:01] #302 closed

[2020-10-02 17:01] #280 closed

[2020-10-02 17:01] #282 closed

[2020-10-02 17:02] #287 closed

[2020-10-02 17:02] #270 closed

[2020-10-02 17:14] yacare555 commented on #308
Hi @jppade, In the IDEX contract (0x2a0c0DBEcC7E4D658f48E01e3fA353F44050c208), the trade event is declared but is not emitted anywhere in the contract.
They have an API in production and a new API v2 in testnet that will replace it.

[2020-10-05 07:48] jppade commented on #308
Hi @yacare555, thanks for the update. If you don't mind, let's put it on hold until v2 is out.

[2020-10-06 15:06] yacare555 commented on #308
Hi @jppade sure, no problem, I'll stop it in gitcoin.

[2020-10-09 06:15] mhddreams opened #315 "Defi Lending Rate Scraper for <SOURCE NAME>"
Your job is to source and connect the <NAME> lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Biggest Protocol/Dominance % of total
- Total Value Locked (24H in USD; ETH; BTC)
- Total ETH locked
- Under

[2020-10-11 07:43] #306 closed

[2020-10-11 07:43] #307 closed

[2020-10-12 22:38] Rade212142 opened #316 "Defi Lending Rate Scraper for <SOURCE NAME>"
Your job is to source and connect the <NAME> lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Biggest Protocol/Dominance % of total
- Total Value Locked (24H in USD; ETH; BTC)
- Total ETH locked
- Under

[2020-10-14 16:05] jppade opened #317 "Write an exchange scraper for 0x protocol"
We are looking for a developer that can provide a scraper for trading data from 0x protocol. Ideally the trading data can be retrieved directly through the smart contract using Infura API.
The scraper must be written in Go and work concurrently and efficiently. Furthermore, you should adapt to our underlying data structures. For information on implementation details, please have a look at:

https:

[2020-10-14 17:58] #315 closed

[2020-10-14 17:58] #316 closed

[2020-10-15 09:00] jppade opened #318 "Write an exchange scraper for kyberSwap exchange"
We are looking for a developer that can provide a scraper for trading data from kyberSwap exchange. Ideally the trading data can be retrieved directly through the smart contract using Infura API.
The scraper must be written in Go and work concurrently and efficiently. Furthermore, you should adapt to our underlying data structures. For information on implementation details, please have a look at:

[2020-10-16 04:11] willievdw opened #319 "William"
Your job is to source and connect the <NAME> lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Biggest Protocol/Dominance % of total
- Total Value Locked (24H in USD; ETH; BTC)
- Total ETH locked
- Under

[2020-10-16 18:10] jppade opened #321 "Lending Rate Scraper for Bitfinex"
We are looking for a Go developer that can provide a scraper for Bitfinex lending/borrowing, fetching the following data:

- Lending Rate
- Borrowing Rate
- Total Value Locked in USD and ETH (if accessible)
- Protocol token (if applicable)

Please retrieve the information using Bitfinex's websocket API. The scraper must be written in Go and work concurrently and efficiently. Furthermore, you shoul

[2020-10-17 18:05] cihanaltinok opened #322 "DIA"
Your job is to source and connect the <NAME> lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Biggest Protocol/Dominance % of total
- Total Value Locked (24H in USD; ETH; BTC)
- Total ETH locked
- Under

[2020-10-19 06:58] #319 closed

[2020-10-19 06:58] #322 closed

[2020-10-19 12:40] jppade opened #323 "Research Issue: locked ERC-20 tokens"
We are looking for someone who is experienced in the Ethereum blockchain.
In order to determine the circulating supply of a given (ERC-20) token, one needs to determine balances of all wallets which lock up this token. Your task consists of finding wallets which lock up ERC-20 tokens and add them to the file:
github.com/diadata-org/diadata/config/token_supply/wallets.json
in the same format as the

[2020-10-19 17:07] jppade opened #324 "Research Issue: locked ERC-20 tokens"
We are looking for someone who is experienced in the Ethereum blockchain.
In order to determine the circulating supply of a given (ERC-20) token, one needs to determine balances of all wallets which lock up this token. Your task consists of finding wallets which lock up ERC-20 tokens and add them to the file:
github.com/diadata-org/diadata/config/token_supply/wallets.json
in the same format as the

[2020-10-19 18:05] ririen commented on #323
@jppade what does locked wallet actually mean? Could you tell me a little more. Because at the beginning I thought it was about getting all the addresses that have a given token, but I think it's about something else?

[2020-10-19 19:29] munichis commented on #324
@jppade I'm not sure if i understand the issue, you need all the token holders for every token in tokens_list.json? i.e.: for DAI there are ~200.000 address.

[2020-10-20 06:06] jppade commented on #324
@munichis Thanks for your interest. For many assets, a certain number of tokens is not available on the market. For instance,
tokens may be locked up in staking programs, or team tokens are often locked up for a certain amount of time. This is often mentioned in a token's/project's whitepaper.

[2020-10-20 06:06] jppade commented on #323
@ririen  Thanks for your interest. For many assets, a certain number of tokens is not available on the market. For instance,
tokens may be locked up in staking programs, or team tokens are often locked up for a certain amount of time. This is often mentioned in a token's/project's whitepaper.

[2020-10-22 18:59] rogerdou opened #327 "Defi Lending Rate Scraper for <SOURCE NAME>"
Your job is to source and connect the <NAME> lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Biggest Protocol/Dominance % of total
- Total Value Locked (24H in USD; ETH; BTC)
- Total ETH locked
- Under

[2020-10-26 03:38] hhio618 commented on #321
Hey. I'm working on this, soon I submit a pr.

[2020-10-27 09:16] jppade commented on #324
@surajsingla333 Hi, are you still working on the issue? If you have question or think, I can be of assistance, feel free to contact me on telegram. My username over there is jppade as well.

[2020-10-28 13:50] sheldoncoupeheure commented on #321
Hi, if no one is working on this, I am available for hire ! I'm already experienced with WS and I'm a convicted gopher. Looking forward !

[2020-10-28 14:17] jppade opened #331 "Crypto Farming Scraper for Curve Finance"
We are looking for a developer that can provide a scraper for Curve Finance farming pools. The data must be retrieved directly through the smart contract using Infura API.
The scraper must be written in Go and work concurrently and efficiently. Furthermore, you should adapt to our underlying data structures. For information on implementation details, please have a look at:

https://docs.diadata.or

[2020-10-28 14:19] jppade opened #332 "Crypto Farming Scraper for Balancer Protocol"
We are looking for a developer that can provide a scraper for Balancer farming pools. The data must be retrieved directly through the smart contract using Infura API.
The scraper must be written in Go and work concurrently and efficiently. Furthermore, you should adapt to our underlying data structures. For information on implementation details, please have a look at:

https://docs.diadata.org/doc

[2020-10-29 07:42] #327 closed

[2020-10-29 07:42] #323 closed

[2020-10-29 07:42] #317 closed

[2020-10-29 07:42] #318 closed

[2020-10-29 09:00] sheldoncoupeheure commented on #332
I started working on it ! Prepare yourself for the perfect PR !

[2020-10-29 19:43] sheldoncoupeheure commented on #332
@jppade please review #333

[2020-10-30 09:38] #324 closed

[2020-10-30 09:38] jppade opened #334 "Research Issue: locked ERC-20 tokens"
We are looking for someone who is experienced in the Ethereum blockchain.
In order to determine the circulating supply of a given (ERC-20) token, one needs to determine balances of all wallets which lock up this token. Your task consists of finding wallets which lock up ERC-20 tokens and add them to the file:
github.com/diadata-org/diadata/config/token_supply/wallets.json
in the same format as the

[2020-10-30 11:37] jppade commented on #332
@sheldoncoupeheure Thanks for your commit and the questions! Could we have a quick chat on that on telegram? You can find me over there with the same user name as here: jppade.

[2020-10-30 22:08] janus commented on #331
@gitcoinbot  Work started.

[2020-11-02 09:31] #334 closed

[2020-11-04 15:14] #321 closed

[2020-11-05 03:14] janus commented on #331
Update coming soon

[2020-11-06 01:24] PoWeRBanKeR opened #337 "Defi Lending Rate Scraper for <SOURCE NAME>"
Your job is to source and connect the <NAME> lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Biggest Protocol/Dominance % of total
- Total Value Locked (24H in USD; ETH; BTC)
- Total ETH locked
- Under

[2020-11-06 08:30] #309 closed

[2020-11-08 15:06] sheldoncoupeheure commented on #332
Hi, it's an error as I'm still working on it.

[2020-11-10 04:43] jBhalchandra opened #338 "Defi Lending Rate Scraper jbhalchandra929"
Your job is to source and connect the <NAME> lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Biggest Protocol/Dominance % of total
- Total Value Locked (24H in USD; ETH; BTC)
- Total ETH locked
- Under

[2020-11-10 17:19] janus commented on #331
Update coming with 36 hours.

[2020-11-11 09:49] #332 closed

[2020-11-11 10:51] #337 closed

[2020-11-11 11:57] jppade opened #340 "Crypto farming scraper for Loopring"
We are looking for a developer that can provide a scraper for Loopring staking pools. The data must be retrieved directly through the smart contract using Infura API.
The scraper must be written in Go and work concurrently and efficiently. Furthermore, you should adapt to our underlying data structures. For information on implementation details, please have a look at:

https://docs.diadata.org/doc

[2020-11-16 09:55] #284 closed

[2020-11-16 09:58] jppade opened #341 "Crypto Farming Scraper for Synthetix"
We are looking for a developer that can provide a scraper for Synthetix staking pools. The data must be retrieved directly through the smart contract using Infura API.
The scraper must be written in Go and work concurrently and efficiently. Furthermore, you should adapt to our underlying data structures. For information on implementation details, please have a look at:

https://docs.diadata.org/do

[2020-11-16 19:39] janus commented on #331
I would push within 36hours

[2020-11-19 09:18] quintinbrooks commented on #341
Hi @jppade, if bounty is still available I'd like to work on this. Basically, I'll retrieve the data of Synthetix smart contracts over Infura, as compatible with the provided specification.

[2020-11-19 09:29] quintinbrooks commented on #331
Hello @jppade, if this bounty is still available. I'd like to work on this one too, I'm willing to create a PR in a day or so, if I'm accepted to start working. Please let me know if you have any questions.

[2020-11-19 09:46] janus commented on #331
@quintinbrooks  I made a push ...waiting for him to review. But feel free to comment or join me. https://github.com/janus/diadata/tree/curveFinance

[2020-11-19 09:56] quintinbrooks commented on #331
@janus I'm very sorry, I didn't see this one before. LGTM, though! 🥇

[2020-11-19 10:00] janus commented on #331
@quintinbrooks  Nope, let's work on it. It is virtually done.  Review it and wr share 50-50. This is what open source and the community is all about.

[2020-11-21 15:57] clouedoc commented on #341
Hi, I'm still working on this issue.

[2020-11-23 10:23] janus commented on #331
WIP , https://github.com/diadata-org/diadata/pull/346
@jppade  Please review my code.

I have also receiving this error message, `FATA[0131] dial tcp 159.69.120.42:8546: connect: connection timed out`

[2020-11-24 10:57] niktrix commented on #331
@janus replace 159.69.120.42 with your own infura url+key to test

[2020-11-26 18:20] clouedoc commented on #341
Still working on this

[2020-11-30 11:22] janus commented on #331
@jppade Please try the new code. I have resolved all the issue mentioned except rates in few pools/swaps. I also think that because of multiple tokens pool balance should be array of balances and same with rate.  I would like to know your view on this.

[2020-12-04 17:22] clouedoc commented on #341
Hi,

I'm still stuck with the pool rate issue and I can't solve it right now because of external school work. I am stil willing to complete this project, however, I am okay with dropping it to another developper along with the code I already wrote.

[2020-12-06 17:15] janus commented on #331
@gitcoinbot update coming within 24 hours. I had a nagging bug.....but it is nearing an end.

[2020-12-07 12:24] janus commented on #331
@jppade  I am done. Please review my code . https://github.com/diadata-org/diadata/pull/346

[2020-12-08 08:40] jppade opened #350 "Quotation scraper for CoinMarketCap"
We are looking for a developer that can provide a scraper for CoinMarketCap crypto quotations. The scraper must be written in Go and adhere to the structures in our backend. More precisely, please implement the scraping functionality in the foreign-scraper package. For the data types please refer to foreignTypes.go in the package internal/pkg/model. The scraper should be run by foreign.go in cmd/f

[2020-12-15 13:00] #350 closed

[2020-12-16 11:02] jppade commented on #307
@yacare555 Hi, do you happen to have the contracts (or a link) you used for the scraper? I need to update the bindings, and this would spare me to look for the sol files. Same for the other scrapers you wrote, i.e. curvefi, gnosis, kyber and 0x. Many thanks in advance!

[2020-12-16 17:49] yacare555 commented on #307
Hi @jppade, I don't have the contracts any more unfortunately.

[2020-12-17 10:35] janus commented on #331
@jppade  Review my code.

[2020-12-17 11:45] jppade commented on #307
@yacare555 Thanks for the quick reply!

[2020-12-17 17:26] yacare555 commented on #307
@jppade, I used this script to get the source of multiple contracts for a subgraph project, may be it helps you if they are too many contracts.

[code]

[2020-12-21 10:02] alexandrewolff opened #354 "Defi Lending Rate Scraper for Yearn Finance"
We are looking for a Go developer that can provide a scraper the Yearn Finance lending protocol, fetching the following data:

	•	Lending Rate
	•	Borrowing Rate
	•	DeFi Total Value Locked in USD and ETH
	•	Underlying Blockchain
	•	Protocol token (if applicable)

Please retrieve the information directly from the smart contract, using Infura API. The scraper must be written in Go and work concurrent

[2020-12-23 08:31] gturkoglu commented on #341
Hey @clouedoc, I'd like to work on this bounty if you are no longer working on this.

[2020-12-23 08:58] #341 closed

[2021-01-07 17:07] #340 closed

[2021-01-08 17:27] #338 closed

[2021-01-12 15:24] #331 closed

[2021-01-12 15:54] jppade commented on #308
@yacare555 I believe 2.0 is now live with a websocket API. Are you still interested in writing the scraper? Even better if you can find and use the deployed contracts.

[2021-01-13 10:44] alexandrewolff opened #358 "Research on the MakerDAO code base"
You need to have a good understanding of MakerDAO to be eligible to this bounty.

We are looking for the smart contracts' functions that will let us retrieve the following informations from the Ethereum mainnet:
	•	MakerDAO’s Oasis lending rate
	•	MakerDAO’s Oasis borrowing rate for the different tokens
	•	Locked value in MakerDAO for the different tokens

For that you can use MakerDAO’s documenta

[2021-01-13 16:48] jppade opened #359 "Write an exchange scraper for STEX exchange"
We are looking for a developer that can provide a scraper for trading data from STEX exchange:
https://www.stex.com/

The scraper must be written in Go and work concurrently and efficiently. Furthermore, you must use the websocket API in order to get trading data:
https://docs.google.com/document/d/1CaD7qV6UzSJ72DMY0qLHnRgabhadVV0Kxc2_lhEFWKA/edit

Finally, please adapt to our underlying data stru

[2021-01-13 16:54] jppade opened #360 "Write an exchange scraper for CREX24 exchange"
We are looking for a developer that can provide a scraper for trading data from CREX24 exchange:
https://crex24.com/

The scraper must be written in Go and work concurrently and efficiently. Furthermore, you must use the websocket API in order to get trading data:
https://docs.crex24.com/trade-api/v2/#trade-history-channel

In order to handle the SignalR API in Go you can use for instance this (or

[2021-01-13 16:54] jppade opened #361 "Write an exchange scraper for CREX24 exchange"
We are looking for a developer that can provide a scraper for trading data from CREX24 exchange:
https://crex24.com/

The scraper must be written in Go and work concurrently and efficiently. Furthermore, you must use the websocket API in order to get trading data:
https://docs.crex24.com/trade-api/v2/#trade-history-channel

In order to handle the SignalR API in Go you can use for instance this (or

[2021-01-14 19:57] cb362271 opened #363 "No Reciept of Airdrop DIA"
I followed guidelines (held DIA throughout October and provided liquidity on Uniswap for a short period), and was thus expecting some DIA from the airdrop supposedly distributed on January 11th. However, I have not received a single DIA. I can give my wallet address that corresponds with my activity in a more private venue if necessary, but I'm curious why I haven't received any tokens yet.

[2021-01-14 20:04] kaythxbye commented on #363
Hi, please contact airdrop-support@diadata.org with your wallet address for this issue.

[2021-01-14 20:04] #363 closed

[2021-01-14 20:35] cb362271 commented on #363
Thank you for your response

On Thu, Jan 14, 2021, 3:04 PM Samuel Brack <notifications@github.com> wrote:

[2021-01-15 18:15] felixniemeyer commented on #360
Hi,

I made progress with the CREX24 scraper.

**So far:**
- FetchAvailablePairs is implemented
- Connecting to the websocket API works and trades are reported to the collector

**Remaining work:**
- Make websocket connection establishment and subscription requests parallel
- Make signalr client close properly

I aim at creating a pull request as soon as this works nice and tidy.
[You can see the

[2021-01-15 19:42] jppade commented on #360
@felixniemeyer That sounds wonderful, thanks for the report! In case you have questions don't hesitate to ask.

[2021-01-18 00:29] felixniemeyer commented on #360
@jppade
I have created a [pull request](https://github.com/diadata-org/diadata/pull/364).
Please read the detailed comment I have made there.
I'll be sticking around if there are any amendments to be made.

[2021-01-20 12:06] #360 closed

[2021-01-24 04:45] Ikaruscrypto opened #367 "Defi Lending Rate Scraper for <SOURCE NAME>"
Your job is to source and connect the <NAME> lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Biggest Protocol/Dominance % of total
- Total Value Locked (24H in USD; ETH; BTC)
- Total ETH locked
- Under

[2021-02-12 15:50] #367 closed

[2021-02-12 15:50] #359 closed

[2021-02-12 15:51] #358 closed

[2021-02-12 15:51] #354 closed

[2021-03-04 08:38] Huitzilli opened #374 "DIA Staking Return"
1. When I will be getting all my DIA that I staked back ?
.
ETH address: 0xe891FcfbA41d10a53Bf40a5412F1787D4327AEE4
.
2. I only received 23.102 DIA tokens so far. Is this all the DIA tokens that I will be getting ?
.
Email: chessmasterdiaz@gmail.com
.
Thank you so much for taking the time to answer my questions.

[2021-03-04 08:40] #278 closed

[2021-03-04 08:45] kaythxbye commented on #374
followup by email, closed

[2021-03-04 08:45] #374 closed

[2021-04-30 13:31] b43kd00r opened #384 "[Security Vulnerability] Information Disclosure"
Hello Team,

Good day, I truly hope it treats you great on your side of the screen.

I'm an independent security researcher look what i just found,

**POC-proof of concep**t:
URL:
https://labs.diadata.org/test.php

**Example**:
System | Linux www198.your-server.de 4.19.0-16-amd64 #1 SMP Debian 4.19.181-1 (2021-03-19) x86_64
$_SERVER['SCRIPT_FILENAME'] | /usr/www/users/diadat/labs/test.php
$_SERVER

[2021-04-30 13:35] kaythxbye commented on #384
Thank you very much, we will have a deeper look into that. For further communication it would be the best if you can write us an email at security@diadata.org.

[2021-04-30 13:36] #384 closed

[2021-05-04 17:16] jppade opened #385 "Research Issue: NFT Categorization"
We are looking for someone experienced or at least interested in NFTs, not necessarily with a technical background.
Your task is to assign attributes to NFT classes such as Hashmasks ("Arts"), Cryptokitties ("Collectibles") or Ethereum Name Service ("Certificates and Licenses").
Each class should be assigned exactly one attribute from the list returned at the following API endpoint:
https://api.di

[2021-05-04 17:18] jppade opened #386 "Research Issue: NFT Categorization 2"
We are looking for someone experienced or at least interested in NFTs, not necessarily with a technical background.
Your task is to assign attributes to NFT classes such as Hashmasks ("Arts"), Cryptokitties ("Collectibles") or Ethereum Name Service ("Certificates and Licenses").
Each class should be assigned exactly one attribute from the list returned at the following API endpoint:
https://api.di

[2021-05-04 17:18] jppade opened #387 "Research Issue: NFT Categorization 3"
We are looking for someone experienced or at least interested in NFTs, not necessarily with a technical background.
Your task is to assign attributes to NFT classes such as Hashmasks ("Arts"), Cryptokitties ("Collectibles") or Ethereum Name Service ("Certificates and Licenses").
Each class should be assigned exactly one attribute from the list returned at the following API endpoint:
https://api.di

[2021-05-04 17:19] jppade opened #388 "Research Issue: NFT Categorization 4"
We are looking for someone experienced or at least interested in NFTs, not necessarily with a technical background.
Your task is to assign attributes to NFT classes such as Hashmasks ("Arts"), Cryptokitties ("Collectibles") or Ethereum Name Service ("Certificates and Licenses").
Each class should be assigned exactly one attribute from the list returned at the following API endpoint:
https://api.di

[2021-05-04 17:19] jppade opened #389 "Research Issue: NFT Categorization 5"
We are looking for someone experienced or at least interested in NFTs, not necessarily with a technical background.
Your task is to assign attributes to NFT classes such as Hashmasks ("Arts"), Cryptokitties ("Collectibles") or Ethereum Name Service ("Certificates and Licenses").
Each class should be assigned exactly one attribute from the list returned at the following API endpoint:
https://api.di

[2021-05-05 12:07] im-adithya commented on #385
Corrected spelling of Ethermon (Previously written as Ether-e-mon) and added some names which were missing.

I think Trading Cards can be added to the list as there are considerable NFTs belonging to that attribute
Trading Cards: FYDCards, Spirit Clash, Big Fat Sexy Collectible Card Experience, CryptoBuds, Node Runners and Toshimon

For now, I have used the Collectibles attribute for these, let me

[2021-05-05 13:54] leviwillms commented on #386
Completed @jppade, please find the JSON here - https://jsonkeeper.com/b/6FDQ

I noticed one of the listings in the file had an incorrect name and symbol. That being Xenum and its corresponding symbol XNM, which was changed to Dissolution for submission. If by chance there was a reason for such a difference please let me know and I can go ahead and change it back.

[2021-05-05 16:32] ControlCplusControlV commented on #389
Work is submitted at the following repo - https://github.com/ControlCplusControlV/NFT-Categorization/blob/main/NFTSortingBatch1.json

[2021-05-05 19:03] jppade commented on #385
@im-adithya Many thanks for your submission! Good point with the category trading cards. I guess we will rather add it as a subcategory of collectibles at some point.
Regarding Ether(e)mon: I think Etheremon was correct. Both seem to exist. You can check the different contract addresses on opensea. Also, from what I understand both of them are rather "Gaming" than "Collectibles". Wouldn't you agre

[2021-05-05 19:10] im-adithya commented on #385
Oopsie, sorry for that! Yes, it definitely belongs to Gaming!

Also, can you please cross check it again as I am seeing a 404 page while searching for Ether(e)mon
Here are the pictures for reference:

(Etheremon in the **link**)

![Screenshot (171)](https://user-images.githubusercontent.com/64399555/117195952-89810100-ae03-11eb-9bd2-69b8d9667c62.png)

(On searching for the given address in the JSO

[2021-05-05 19:12] im-adithya commented on #385
Also, let me know if there is any urgency to add categorization to the other JSON files as well, I would do it happily now itself :)

[2021-05-05 19:14] jppade commented on #386
@leviwillms Many thanks for the submission and the keen eye! There seems to be an error either on etherscan or on opensea with Xenum/Dissolution as they have different names for the same address. You can leave it as it is.

[2021-05-05 19:27] jppade commented on #385
Etheremon as returned by our API are these ones:
https://etherscan.io/address/0x5d00d312e171be5342067c09bae883f9bcb2003b
You can find them on opensea when searching for the address:
https://opensea.io/assets?search[query]=0x5d00d312e171be5342067c09bae883f9bcb2003b

[2021-05-05 19:27] leviwillms commented on #386
@jppade No problem, happy to help! Have changed it back to as you posted with Xenum - https://jsonkeeper.com/b/CDZH

Let me know if anything else is required at this time :)

p.s. if you meant to leave it as is with Dissolution, here's the link to that too - https://jsonkeeper.com/b/6FDQ

Thank you.

[2021-05-05 19:32] im-adithya commented on #385
Ah! I've just noticed that it says Ether-e-mon under the Assets header in my screenshot.

[2021-05-05 19:37] im-adithya commented on #385
Here is the updated JSON file: https://jsonkeeper.com/b/O5NB

[2021-05-06 09:58] jppade opened #390 "Write an NFT Scraper for Sorare"
We are looking for a Go developer who is experienced in writing applications interfacing with the Ethereum blockchain. Basic knowledge in NFTs is helpful but not necessary.
Your task is to write a scraper for the Sorare NFTs. The basic structure of the scraping backend is already set up, including the go bindings of the Sorare contract. More precisely, you should implement the scraping in the file

[2021-05-06 12:56] im-adithya commented on #387
@jppade Can you please approve me? I can do this!

[2021-05-06 15:57] jppade commented on #390
@baldator Hi Marco, I just approved you on gitcoin. I'd be happy to chat about details of the task. You can contact me on telegram with the same handle as here. And/or we could hop on a zoom call if you prefer.

[2021-05-12 14:00] #385 closed

[2021-05-12 14:00] #386 closed

[2021-05-12 14:00] #387 closed

[2021-05-12 14:00] #388 closed

[2021-05-12 14:00] #389 closed

[2021-05-12 14:51] jppade opened #393 "Write a Trades Scraper for Sorare NFTs"
We are looking for a Go developer who is experienced in writing applications interfacing with the Ethereum blockchain. Basic knowledge in NFTs is helpful but not necessary.
Your task is to write a trades scraper for the Sorare NFTs. The data must be fetched directly from the blockchain (using for instance infura API). The structure for the scraper is already laid out. Your job is basically to impl

[2021-05-18 19:22] ControlCplusControlV commented on #393
I expect this will take 2 more days (1 day to build the scraper of the Ethereum blockchain, and a day for testing), right now I have a data scraped from https://coinranking.com/dapp/sorare/tokens API, that gets contract addresses and basic info about them. I then plan on using this data to query the Infura API to get Ethereum blockchain data on each contract, and detect if a transaction relating t

[2021-05-18 19:47] jppade commented on #393
@ControlCplusControlV Thanks for the update! That sounds perfect. If you're already done with the data scraper fetching the addresses that's cool. Otherwise, we can also fetch these from our database later on. So you can focus on how to get the transaction data from on-chain.

[2021-05-18 20:45] ControlCplusControlV commented on #393
@jppade oh ok, I am already done, at least this way when they release new cards it should still be able to track those new cards. Moving onto the on-chain data right now, working through how to fetch all past transaction history, then scan blocks as they are created. Is there any output format you prefer for sending into your database? Was planning on exporting a 2d array, for each contract, conta

[2021-05-19 06:36] jppade commented on #393
@ControlCplusControlV The output format should be given by the struct `dia.NFTTrade` in the template. Although somewhat redundant, I think it's a good idea to extend it by the tx hash.
I am aware that Python makes your life easier at some points, but we really prefer Go.
By the way, in order to minimize your work load and clear out quick questions in between you can also contact me on telegram. My

[2021-05-22 21:43] ControlCplusControlV commented on #393
Still working on this, in contact with @jppade on how to proceed and work through this

[2021-05-26 15:51] jppade opened #397 "Research Issue: NFT Categorization 1"
We are looking for someone experienced or at least interested in NFTs, not necessarily with a technical background.
Your task is to assign attributes to NFT classes such as Hashmasks ("Arts"), Cryptokitties ("Collectibles") or Ethereum Name Service ("Certificates and Licenses").
Each class should be assigned exactly one attribute from the list returned at the following API endpoint:
https://api.di

[2021-05-26 15:51] jppade opened #398 "Research Issue: NFT Categorization 2"
We are looking for someone experienced or at least interested in NFTs, not necessarily with a technical background.
Your task is to assign attributes to NFT classes such as Hashmasks ("Arts"), Cryptokitties ("Collectibles") or Ethereum Name Service ("Certificates and Licenses").
Each class should be assigned exactly one attribute from the list returned at the following API endpoint:
https://api.di

[2021-05-26 15:53] jppade opened #399 "Research Issue: NFT Categorization 3"
We are looking for someone experienced or at least interested in NFTs, not necessarily with a technical background.
Your task is to assign attributes to NFT classes such as Hashmasks ("Arts"), Cryptokitties ("Collectibles") or Ethereum Name Service ("Certificates and Licenses").
Each class should be assigned exactly one attribute from the list returned at the following API endpoint:
https://api.di

[2021-05-26 15:54] jppade opened #400 "Research Issue: NFT Categorization 4"
We are looking for someone experienced or at least interested in NFTs, not necessarily with a technical background.
Your task is to assign attributes to NFT classes such as Hashmasks ("Arts"), Cryptokitties ("Collectibles") or Ethereum Name Service ("Certificates and Licenses").
Each class should be assigned exactly one attribute from the list returned at the following API endpoint:
https://api.di

[2021-05-26 15:55] jppade opened #401 "Research Issue: NFT Categorization 5"
We are looking for someone experienced or at least interested in NFTs, not necessarily with a technical background.
Your task is to assign attributes to NFT classes such as Hashmasks ("Arts"), Cryptokitties ("Collectibles") or Ethereum Name Service ("Certificates and Licenses").
Each class should be assigned exactly one attribute from the list returned at the following API endpoint:
https://api.di

[2021-05-27 14:05] jppade commented on #398
@knnirts Thanks for the heads up. The url is updated now.

[2021-05-27 14:06] jppade commented on #401
@elnaril Thanks for the heads up. The url is updated now.

[2021-05-27 16:15] Elnaril commented on #401
@jppade Great, thanks! :) I'll provide an update asap!

[2021-05-28 13:17] Elnaril commented on #401
For NFT like GFARM2NFT, GFARM2NFT1, ..., GFARM2NFT4 and according to these links: [Reddit](https://www.reddit.com/r/CryptoMoonShots/comments/lb357g/gfarm2_leverage_trading_platform_with_ntfs/), [token website](https://gains.farm/farm), and [token website doc / contracts list](https://gains-farm.gitbook.io/gains-farm/#ethereum-smart-contracts-l-1), I would be tempted to assign them to a "DeFi" clas

[2021-05-28 13:48] jppade commented on #401
@Elnaril Good point, thanks for asking! I'll think about it. Meanwhile, let's stick to "Certificates and Licenses".

[2021-05-28 14:42] jppade opened #404 "Write an NFT Scraper for Cryptopunks"
We are looking for a Go developer who is experienced in writing applications interfacing with the Ethereum blockchain. Basic knowledge in NFTs is helpful but not necessary.
Your task is to write a scraper for the Cryptopunks NFTs given by the contract:
0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb
The basic structure of the scraping backend is already set up. Please implement the scraping in the file

[2021-05-28 15:51] jppade opened #405 "Write an NFT Scraper for CryptoKitties"
We are looking for a Go developer who is experienced in writing applications interfacing with the Ethereum blockchain. Basic knowledge in NFTs is helpful but not necessary.
Your task is to write a scraper for the CryptoKitties NFTs. The basic structure of the scraping backend is already set up, including the go bindings of the CryptoKitties contract. More precisely, you should implement the scrapi

[2021-05-28 16:46] Elnaril commented on #401
@jppade Some NFTs are on Matic/Polygon and not Ethereum, like:
"Address": "0xe7e16f2da731265778f87cb8d7850e31b84b7b86"
"Name": "Embersword Land"
is [here](https://explorer-mainnet.maticvigil.com/tokens/0xE7e16f2Da731265778f87cB8D7850E31b84b7b86/inventory).
Should I change the value of the "Blockchain" key in the json file ? If yes, would you prefer "Matic", "Polygon", or something else ?

Another

[2021-05-29 05:43] czcnlp commented on #404
Thank you sir

[2021-05-29 07:12] jppade opened #406 "Write a Trades Scraper for CryptoPunks"
We are looking for a Go developer who is experienced in writing applications interfacing with the Ethereum blockchain. Basic knowledge in NFTs is helpful but not mandatory.
Your task is to write a trades scraper for the CryptoPunks NFTs. The data must be fetched directly from the blockchain (using for instance infura API). More precisely, please use the on-chain marketplace described here:
https:/

[2021-05-29 21:49] knnlrts commented on #398
Hey @jppade,

I had a great time categorizing all these NFT projects and learned a great deal from doing that, so already a major thanks for that!

Please find the updated file [here](https://pastebin.com/N9vHysZk). My findings were as follows:
1. Compared to the categories returned from the [https://api.diadata.org/v1/AllNFTClasses/Ethereum](https://api.diadata.org/v1/NFTCategories) endpoint, I e

[2021-05-29 21:49] knnlrts commented on #399
Hey @jppade,

I had a great time categorizing all these NFT projects and learned a great deal from doing that, so already a major thanks for that!

Please find the updated file [here](https://pastebin.com/N9vHysZk). My findings were as follows:
1. Compared to the categories returned from the [https://api.diadata.org/v1/AllNFTClasses/Ethereum](https://api.diadata.org/v1/NFTCategories) endpoint, I e

[2021-05-30 17:21] mehulkpr commented on #397
Hi. Almost done with categorisation. Will submit soon. There are few addresses which I can't figure what they are, should I leave them blank ?

[2021-05-31 06:44] koreQAQ commented on #400
Hello,
I have submitted the work ~
please check it :)

[2021-05-31 07:19] jppade commented on #397
@mehulkpr That's good to hear! Yes, just leave the ones blank you're not able to map.

[2021-05-31 07:24] jppade commented on #398
@knnlrts Thanks for the valuable input! I totally agree to both remarks: the categorization is to some extent subjective and can and should be refined and extended at some point. This is why input like yours is very valuable.
Your original submission is fine, no worries here.

[2021-05-31 07:31] jppade commented on #401
@Elnaril Thanks for the update and the scrupulous work. It would be great if you could change the blockchain to Polygon wherever it applies!

[2021-05-31 07:42] mehulkpr commented on #397
just submitted the file. let me know if you have any trouble accessing it.

[2021-06-01 08:38] jppade commented on #398
@knnlrts Hi, could you please re-upload your submission? As of now I don't have access to the file linked above:
"Error, this is a private paste or is pending moderation."

[2021-06-01 08:39] jppade commented on #399
@knnlrts Hi, could you please re-upload your submission? As of now I don't have access to the file linked above:
"Error, this is a private paste or is pending moderation."

[2021-06-01 10:49] Elnaril commented on #401
@jppade Here is the completed json file for item 400 to 499:

[Ethereum.json.zip](https://github.com/diadata-org/diadata/files/6575642/Ethereum.json.zip)

[2021-06-01 18:58] knnlrts commented on #398
@jppade Sorry for the inconvenience, it seems pastebin.com flagged the file content as inappropriate, as there is an NFT called "SEX" in there 🤪. Corrected link here: [https://github.com/knnlrts/diadata-nft-categorization/blob/master/Ethereum.json](https://github.com/knnlrts/diadata-nft-categorization/blob/master/Ethereum.json).

Have a nice day,
knnlrts

[2021-06-01 18:58] knnlrts commented on #399
@jppade Sorry for the inconvenience, it seems pastebin.com flagged the file content as inappropriate, as there is an NFT called "SEX" in there 🤪. Corrected link here: [https://github.com/knnlrts/diadata-nft-categorization/blob/master/Ethereum.json](https://github.com/knnlrts/diadata-nft-categorization/blob/master/Ethereum.json).

Have a nice day,
knnlrts

[2021-06-03 09:41] ElCrabman commented on #405
Hello,
Just as a reminder, I'm still working on this issue. It won't be long before I submit the final version.

[2021-06-10 03:38] koreQAQ commented on #400
4

[2021-06-15 14:46] 7ouma76 opened #411 "Defi Lending Rate Scraper for <SOURCE NAME>"
Your job is to source and connect the <NAME> lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Biggest Protocol/Dominance % of total
- Total Value Locked (24H in USD; ETH; BTC)
- Total ETH locked
- Under

[2021-06-16 08:41] jppade commented on #405
@ElCrabman Hello, are you still working on the issue? Let me know if I can do anything in order to facilitate a first commit.

[2021-06-16 17:14] corey7754 opened #412 "Defi Lending Rate Scraper for <SOURCE NAME>"
Your job is to source and connect the <NAME> lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Biggest Protocol/Dominance % of total
- Total Value Locked (24H in USD; ETH; BTC)
- Total ETH locked
- Under

[2021-06-17 09:42] #411 closed

[2021-06-17 09:42] #412 closed

[2021-06-17 10:00] jppade opened #413 "Write an (on-chain) NFT Trades Scraper for Opensea"
We are looking for a Go developer who is experienced in writing applications interfacing with the Ethereum blockchain. Basic knowledge in NFTs is helpful but not mandatory.
Your task is to write a trades scraper for Opensea. The data must be fetched directly from the Ethereum blockchain (using for instance infura API). The relevant methods/contracts seem to be the "atomic matches" in:
https://ethe

[2021-06-17 11:59] #390 closed

[2021-06-17 11:59] #393 closed

[2021-06-17 11:59] #397 closed

[2021-06-17 11:59] #398 closed

[2021-06-17 11:59] #399 closed

[2021-06-17 11:59] #400 closed

[2021-06-17 11:59] #401 closed

[2021-06-17 11:59] #267 closed

[2021-06-18 14:23] jppade commented on #405
@ElCrabman Hi, please let me know whether you are still working on this issue. Otherwise I will have to chancel the associated gitcoin bounty.

[2021-06-18 14:40] jppade opened #414 "Write a Trades Scraper for NBA Topshot NFTs"
We are looking for a Go developer who is experienced in writing applications interfacing with the Flow blockchain. Basic knowledge in NFTs is helpful but not mandatory.
Your task is to write an (incremental) trades scraper for the TopShot NFTs:
https://flowscan.org/contract/A.0b2a3299cc857e29.TopShot

The data must be fetched directly from on-chain. More precisely, please use the dedicated on-chai

[2021-06-19 00:17] corey7754 opened #415 "Defi Lending Rate Scraper for <SOURCE NAME>"
Your job is to source and connect the <NAME> lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Biggest Protocol/Dominance % of total
- Total Value Locked (24H in USD; ETH; BTC)
- Total ETH locked
- Under

[2021-06-19 18:15] thecyberd3m0n commented on #79
@kaythxbye can I try to do this task? Could you introduce me a little on voice call on Discord/Telegram/other app?

[2021-06-22 15:42] xenowits commented on #405
Hi @jppade .
Where can I find the go bindings for cryptokitties contract?? I can't find them

[2021-06-22 17:15] jppade commented on #405
@xenowits Thanks for reaching out and my apologies for the missing go bindings. I pushed them in the directory config/nftContracts/cryptokitties in our repository just now.

[2021-06-22 17:20] xenowits commented on #405
Thanks @jppade . Also can we connect on discord??

[2021-06-22 17:58] jppade commented on #405
@xenowits Sure, on discord I am philipp#9630

[2021-06-22 18:30] #415 closed

[2021-06-22 18:31] #404 closed

[2021-06-28 16:54] jppade opened #418 "Write an NFT Trades Scraper for Cryptokitties"
We are looking for a Go developer who is experienced in writing applications interfacing with the Ethereum blockchain. Basic knowledge in NFTs is helpful but not mandatory.
Your task is to write a trades scraper for the CryptoKitties NFTs:
https://etherscan.io/address/0x06012c8cf97bead5deae237070f9587f8e7a266d#code
The data must be fetched directly from the blockchain (using for instance infura AP

[2021-06-28 17:04] xenowits commented on #405
@gitcoinbot In progress

[2021-06-28 18:11] jppade commented on #418
@quantum-guy7 I forgot to mention: Go bindings for the CryptoKitties main contract are in the repo in config/nftContracts/cryptokitties

[2021-06-29 08:59] xenowits commented on #418
@jppade got it! Thanks

[2021-06-29 09:00] quantum-guy7 commented on #418
@jppade got it. Thanks!

[2021-06-29 13:15] #405 closed

[2021-06-29 13:15] #406 closed

[2021-06-29 13:15] #413 closed

[2021-07-01 05:34] quantum-guy7 commented on #418
@jppade how to get first block number for cryptokitties? https://github.com/diadata-org/diadata/blob/ba84675b972b932bc2613cd40771cdcdc555b047/internal/pkg/nftTrade-scrapers/cryptopunks.go#L96

[2021-07-01 06:51] jppade commented on #418
@quantum-guy7 Thanks for reaching out. In order to be on the safe side you can take the contract creation block (for instance from etherscan).

[2021-07-01 16:49] quantum-guy7 commented on #414
@gitcoinbot working!

[2021-07-01 17:07] Brock-BIT commented on #418
I have one now but can't submit

[2021-07-02 07:05] jppade commented on #418
@Brock-BIT Hi, can you specify what you have and where you cannot submit?

[2021-07-07 16:18] xenowits commented on #414
@gitcoinbot working. Hit a roadblock

[2021-07-12 15:37] quantum-guy7 commented on #414
Got into personal problems so got delayed. @jppade I am very sorry for this. I can still try to raise a PR with most of the work done. Thanks!

[2021-07-13 00:51] quantum-guy7 commented on #414
Yeah. I will submit the task. Thanks!

[2021-07-15 14:29] #418 closed

[2021-07-15 14:35] jppade opened #423 "Identify Exchange Symbol Ticker 1"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset. As an example, the symbol ticker DIA on exchange Binance should be mapped onto the asset with the properties
Blockchain:	Ethereum
Address:	0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

Lists of symbols to be identified can be found at this API endpoint:
https://r

[2021-07-15 14:36] jppade opened #424 "Identify Exchange Symbol Ticker 2"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset. As an example, the symbol ticker DIA on exchange Binance should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

Lists of symbols to be identified can be found at this API endpoint:
https://r

[2021-07-15 14:36] jppade opened #425 "Identify Exchange Symbol Ticker 3"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset. As an example, the symbol ticker DIA on exchange Binance should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

Lists of symbols to be identified can be found at this API endpoint:
https://r

[2021-07-15 16:20] Zerquix18 commented on #424
Hello. I am coming from Gitcoin and I'm interested in this issue. However, I had some issues understanding the requirements:

- https://rest.diadata.org/v1/missingToken/ returns 404
- https://rest.diadata.org/v1/token/ returns 404

I tried reading the documentation and they are not listed in the API endpoints: https://docs.diadata.org/documentation/api-1/api-endpoints

[2021-07-15 16:41] jppade commented on #424
@Zerquix18 Hi, thanks for asking. I edited the task. The formatting deleted <exchangeName> in the URL which was there  previously. The endpoints are made for this issue and they're not yet part of the official DIA API, that's why there's no documentation.

[2021-07-15 17:28] Zerquix18 commented on #424
@jppade Thanks for the quick response! I'm trying to fully digest the issue before presenting myself as a candidate. This is what I understand we should do:

1. For each exchange (for which a list can be found here https://api.diadata.org/v1/exchanges ), get the list of token symbols that we need to get the address and blockchain from, we'll be provided some and we can get some from: https://rest.

[2021-07-15 18:44] jppade commented on #424
@Zerquix18 That is correct. The task does not consist in verifying all symbols available at the above endpoint though. The list of symbols to be verified will be sent to you once you're approved on gitcoin.

[2021-07-15 23:47] vhinarosmayanti1 opened #426 "Defi Lending Rate Scraper for <SOURCE NAME>"
Your job is to source and connect the <NAME> lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Biggest Protocol/Dominance % of total
- Total Value Locked (24H in USD; ETH; BTC)
- Total ETH locked
- Under

[2021-07-15 23:47] vhinarosmayanti1 commented on #426
Ini adalah link referral milikku untuk BEE Network. Dapatkan 1 BEE gratis ketika kamu bergabung dengan BEE: zamil99. Unduh di https://bee.com/id/download

[2021-07-16 00:17] Zerquix18 commented on #424
@jppade Great, thanks for the responses so far! Now one last question, is there any way to manually verify the addresses?

Say for example I have the the `Repv2` token from the example: https://rest.diadata.org/v1/token/REPv2
This returns two addresses - I know the correct one for Kraken is `0x221657776846890989a759BA2973e427DfF5C9bB` because it's displayed in the issue description. But if I didn'

[2021-07-16 06:41] jppade commented on #424
@Zerquix18 To answer your last question: yes, this is part of the task.
The situation might vary from exchange to exchange. All of the exchanges have APIs, but the information emitted is very heterogeneous. This is why this task requires complex knowledge humans have (at least some of them ;) ), but computers don't.

[2021-07-18 18:02] Brock-BIT opened #428 "Golang server controlled NFT scraper api json format"
We are looking for a Go developer who is experienced in writing applications interfacing with the Ethereum blockchain. Basic knowledge in NFTs is helpful but not necessary.
Your task is to write a scraper for the [...] NFTs. The basic structure of the scraping backend is already set up, including the go bindings of the Sorare contract. More precisely, you should implement the scraping in the file

[2021-07-20 16:16] ControlCplusControlV commented on #424
@jppade Hey! I've been approved and was wondering where I should expect to receive information on the symbol tickers? I know messaging on Gitcoin can be kind of confusing so just wanted to know where I should be checking

[2021-07-20 16:39] jppade commented on #424
@ControlCplusControlV Hi, thanks for asking. I wrote you the specifics on telegram.

[2021-07-22 05:11] vhinarosmayanti1 commented on #428
good

[2021-07-23 21:54] xiaods commented on #414
Is this bounty still open ? I'd love to help with it  @quantum-guy7

[2021-07-26 06:57] jppade commented on #414
@xiaods Thanks for asking - yes, it is still open. Feel free to collaborate with @quantum-guy7 and/or apply on gitcoin.

[2021-08-01 07:08] xiaods commented on #414
@jppade  please approved, I found  @quantum-guy7 stop work on it

[2021-08-01 07:46] xiaods commented on #414
@jppade i found there are already have code for trades scraper for NBA Topshot NFT. I don't know where need to contribute.
<img width="751" alt="截屏2021-08-01 下午3 46 18" src="https://user-images.githubusercontent.com/37678/127763511-899b714e-d1dd-4e2c-b06a-df471c5071fd.png">

[2021-08-02 07:51] #426 closed

[2021-08-02 07:52] #428 closed

[2021-08-02 08:02] jppade opened #433 "Write an Exchange Scraper for DFYN DEX"
We are looking for a Go developer that can provide a scraper for trading data from the DFYN DEX on Matic/Polygon chain:
https://exchange.dfyn.network/#/swap

Please retrieve the data directly from on-chain using a Matic client. The contract(s) can be found here:
https://docs.dfyn.network/technical/contracts

The scraper must be written in Go and work concurrently and efficiently. Furthermore, you

[2021-08-02 16:07] #433 closed

[2021-08-02 16:08] #423 closed

[2021-08-02 16:08] #424 closed

[2021-08-02 16:08] #425 closed

[2021-08-02 16:31] jppade opened #435 "Identify Exchange Symbol Ticker - Kucoin 1.1"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain:	Ethereum
Address:	0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

The list of symbols to be identified can be found at this API endpoint:
https:

[2021-08-02 16:32] jppade opened #436 "Identify Exchange Symbol Ticker - Kucoin 1.2"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

The list of symbols to be identified can be found at this API endpoint:
https:

[2021-08-02 16:33] jppade opened #437 "Identify Exchange Symbol Ticker - Kucoin 1.3"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

The list of symbols to be identified can be found at this API endpoint:
https:

[2021-08-02 17:01] jppade commented on #414
@xiaods Thanks for your interest. In case you didn't see - I approved you on Gitcoin.

The above screenshot is from the nftdatascraper which fetches information on the specific NFTs. The contribution for the Topshot trades scraper should go into the directory:
internal/pkg/nftTrade-scrapers

The corresponding main is:
cmd/nftTrade-scrapers/main.go

[2021-08-03 10:42] jppade opened #438 "Identify Exchange Symbol Ticker - GateIO 1"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

The list of symbols to be identified can be found at this API endpoint:
https:

[2021-08-03 10:45] jppade opened #439 "Identify Exchange Symbol Ticker - GateIO 2"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

The list of symbols to be identified can be found at this API endpoint:
https:

[2021-08-03 10:47] jppade opened #440 "Identify Exchange Symbol Ticker - GateIO 3"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

The list of symbols to be identified can be found at this API endpoint:
https:

[2021-08-03 13:45] jppade opened #441 "Identify Exchange Symbol Ticker - ZB / LBank 1"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

The list of symbols to be identified can be found at the following API endpoin

[2021-08-03 13:45] jppade opened #442 "Identify Exchange Symbol Ticker - ZB / LBank 2"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

The list of symbols to be identified can be found at the following API endpoin

[2021-08-03 13:47] jppade opened #443 "Identify Exchange Symbol Ticker - ZB / LBank 3"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

The list of symbols to be identified can be found at the following API endpoin

[2021-08-05 23:19] chemrah commented on #440
Identify Exchange Symbol Ticker - GateIO 3
by :
@chemrah
[exchange_yourgitcoinhandle.zip](https://github.com/diadata-org/diadata/files/6942061/exchange_yourgitcoinhandle.zip)

[2021-08-06 15:37] jppade opened #450 "Identify Exchange Symbol Ticker - OKEx 1"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

The list of symbols to be identified can be found at the following API endpoin

[2021-08-06 15:38] jppade opened #451 "Identify Exchange Symbol Ticker - OKEx 2"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

The list of symbols to be identified can be found at the following API endpoin

[2021-08-06 15:39] jppade opened #452 "Identify Exchange Symbol Ticker - OKEx 3"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

The list of symbols to be identified can be found at the following API endpoin

[2021-08-07 03:52] ControlCplusControlV commented on #437
Yes I plan on working on this soon, got approved 14 hours ago, this message goes quick lol

[2021-08-08 15:44] jppade opened #454 "Identify Exchange Symbol Ticker - Bittrex 1"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

The list of symbols to be identified from exchange Bittrex can be found at the

[2021-08-08 15:45] jppade opened #455 "Identify Exchange Symbol Ticker - Bittrex 2"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

The list of symbols to be identified from exchange Bittrex can be found at the

[2021-08-08 15:45] jppade opened #456 "Identify Exchange Symbol Ticker - Bittrex 3"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

The list of symbols to be identified from exchange Bittrex can be found at the

[2021-08-08 17:49] #435 closed

[2021-08-08 17:49] #436 closed

[2021-08-08 17:49] #438 closed

[2021-08-08 17:49] #439 closed

[2021-08-08 17:49] #440 closed

[2021-08-08 17:49] #441 closed

[2021-08-08 17:49] #442 closed

[2021-08-08 17:49] #443 closed

[2021-08-09 17:08] jppade commented on #414
@xiaods Hi, I just wanted to let you know that you can also contact me on telegram in case you run into problems. My handle over there is the same as here.

[2021-08-10 05:14] ManyRios commented on #451
Just me or this endpoint https://rest.diadata.org/v1/missingToken/OKEx is returning "null" ?

[2021-08-10 06:49] jppade commented on #451
Hi Manuel,
thanks for the heads up and sorry for the inconvenience. We are
experiencing issues with Postgres in the API at the moment. It should be up
again by now.
Best,
Philipp

Am Di., 10. Aug. 2021 um 07:14 Uhr schrieb MANUEL RIOS <
***@***.***>:

[2021-08-10 08:36] jppade opened #459 "Identify Exchange Symbol Ticker - Kucoin 2.1"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

The list of symbols to be identified can be found at this API endpoint:
https:

[2021-08-10 08:37] jppade opened #460 "Identify Exchange Symbol Ticker - Kucoin 2.2"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

The list of symbols to be identified can be found at this API endpoint:
https:

[2021-08-10 08:38] jppade opened #461 "Identify Exchange Symbol Ticker - Kucoin 2.3"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

The list of symbols to be identified can be found at this API endpoint:
https:

[2021-08-11 02:02] ManyRios commented on #451
Ok thanks... any progress? now?

[2021-08-11 02:04] ManyRios commented on #451
Ok thanks... please notify me when it's fixed :)

[2021-08-11 02:21] icebert04 commented on #460
Hello @jppade

REST API is down at the moment...
https://rest.diadata.org/v1/token/:tokenSymbolTicker
https://rest.diadata.org/v1/missingToken/KuCoin

Do you have any other source or additional links so that I can identify symbols 101 - 204, i.e. from LSK to ZEN.

Waiting on your response on this.

Thanks!

[2021-08-11 06:57] ManyRios commented on #451
REST API is down again

[2021-08-11 11:20] Echolon166 commented on #459
Hi @jppade, I've got 2 questions.

1) One of the tickers(NIX) has been delisted from the KuCoin. How should I handle it in the json? Should I leave it empty/or maybe delete it?
Source: https://www.kucoin.com/news/en-st-kucoin-delisting-of-nix

2) Some of the tokens(LSK-MAN-MHC..) use their own blockchain(and KuCoin is connected to them) which doesn't have contract address. How should I handle them

[2021-08-12 07:17] jppade commented on #460
Hi Francis,

sorry for the inconvenience. We are experiencing issues with this endpoint
at the moment. You can (and should) always check the symbol on the KuCoin
exchange site. For instance for LSK:
https://trade.kucoin.com/LSK-BTC

Information on the underlying asset is given there.
I hope that helps.

Best.
Philipp

Am Mi., 11. Aug. 2021 um 04:22 Uhr schrieb Francis Isberto <
***@***.***>:

[2021-08-12 07:20] jppade commented on #459
Hi Erdem,

thanks for reaching out. To answer your questions:
1. You can put "deprecated" in the address field.
2. You can fill the blockchain field. For the address you can put
0x0000000000000000000000000000000000000000 in case it is the blockchain's
native token. If the blockchain hosts more than one token, there must be a
unique identifier that you can use.

I hope that helps.

Best,
Philipp

A

[2021-08-12 07:50] ManyRios commented on #451
When https://rest.diadata.org/v1/missingToken/OKEx the other is down... of both down... :/
right now only works the first one

[2021-08-12 09:12] jppade commented on #451
Should be up again.

Am Do., 12. Aug. 2021 um 09:51 Uhr schrieb MANUEL RIOS <
***@***.***>:

[2021-08-12 12:55] icebert04 commented on #460
Hello Philipp,

Thanks for the feedback. I have already done both of your tasks.

One by email, and the other through a pull request.

Exchange Symbol Ticker - Kucoin 2.2 has been submitted.

Regards,
Francis

[2021-08-13 06:42] ManyRios commented on #451
Hi! Again the endpoint!!!

[2021-08-13 07:23] jppade commented on #451
Hi, it is up again.

Am Fr., 13. Aug. 2021 um 08:42 Uhr schrieb MANUEL RIOS <
***@***.***>:

[2021-08-13 07:57] ManyRios commented on #451
good. the first is ok, the second just return data for one symbol = 'ABL'

[2021-08-13 08:30] jppade commented on #451
Hi Manuel,
what do you mean by "first" and "second"?
Best,
Philipp

Am Fr., 13. Aug. 2021 um 09:57 Uhr schrieb MANUEL RIOS <
***@***.***>:

[2021-08-13 12:30] icebert04 commented on #460
Hi @jppade

I've updated the JSON file according to your instructions.

I have also redone my Pull Request. It's now on the branch tekton-ci-tmp.

Best,
Francis

[2021-08-13 13:03] jppade opened #469 "Write a Stock Quotation Scraper"
We are looking for a Go developer who is experienced in fetching data from websocket APIs.
Your task is to write a stock quotation scraper fetching stock quotations from
https://finage.co.uk/
Documentation of the API can be found here:
https://finage.co.uk/docs/api/getting-started

The structure for the scraper is already laid out. Your job is to create and implement the scraping logic in the file

[2021-08-15 11:21] xiaods commented on #414
ok, roger that.

[2021-08-16 14:56] #450 closed

[2021-08-16 14:56] #452 closed

[2021-08-16 14:56] #454 closed

[2021-08-16 14:56] #455 closed

[2021-08-16 14:56] #456 closed

[2021-08-16 14:56] #459 closed

[2021-08-16 14:56] #460 closed

[2021-08-16 14:56] #461 closed

[2021-08-16 15:00] jppade opened #472 "Identify Exchange Symbol Ticker - HitBTC 1.1"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

The list of symbols to be identified can be found at this API endpoint:
https:

[2021-08-16 15:00] jppade opened #473 "Identify Exchange Symbol Ticker - HitBTC 1.2"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

The list of symbols to be identified can be found at this API endpoint:
https:

[2021-08-16 15:01] jppade opened #474 "Identify Exchange Symbol Ticker - HitBTC 1.3"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

The list of symbols to be identified can be found at this API endpoint:
https:

[2021-08-16 15:03] jppade opened #475 "Identify Exchange Symbol Ticker - Quoine 1"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

The list of symbols to be identified can be found at this API endpoint:
https:

[2021-08-16 15:04] jppade opened #476 "Identify Exchange Symbol Ticker - Quoine 2"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

The list of symbols to be identified can be found at this API endpoint:
https:

[2021-08-16 15:04] jppade opened #477 "Identify Exchange Symbol Ticker - Quoine 3"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

The list of symbols to be identified can be found at this API endpoint:
https:

[2021-08-17 13:45] xiaods commented on #414
@gitcoinbot ongoing..

[2021-08-17 13:46] xiaods commented on #414
what's your telegram id

[2021-08-17 14:27] jppade commented on #414
@xiaods  Same as here: jppade

[2021-08-17 15:12] jppade opened #481 "Identify Exchange Symbol Ticker - HitBTC 2.1"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

The list of symbols to be identified can be found at this API endpoint:
https:

[2021-08-17 15:13] jppade opened #482 "Identify Exchange Symbol Ticker - HitBTC 2.2"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

The list of symbols to be identified can be found at this API endpoint:
https:

[2021-08-17 15:14] jppade opened #483 "Identify Exchange Symbol Ticker - HitBTC 2.3"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

The list of symbols to be identified can be found at this API endpoint:
https:

[2021-08-17 15:24] xiaods commented on #414
my account is @xiaods  , please add me, I can contact with you add me to telegram

[2021-08-17 15:32] xiaods commented on #414
<img width="621" alt="截屏2021-08-17 下午11 32 44" src="https://user-images.githubusercontent.com/37678/129755948-9369702e-f785-4ccd-88cd-4fc87b76e531.png">

[2021-08-17 16:52] xiaods commented on #414
yes

[2021-08-18 05:39] xiaods commented on #414
@jppade  I get thing done, please check it again.

[2021-08-18 05:40] xiaods commented on #414
https://github.com/diadata-org/diadata/pull/479

[2021-08-18 07:31] #451 closed

[2021-08-19 08:27] xiaods commented on #414
2. It would be great to get the buyer id as well. Here is a thread in the flow forum on that topic:
https://forum.onflow.org/t/how-to-get-buyer-address-in-a-flow-market-purchase/2167

[2021-08-19 15:07] xiaods commented on #414
3. update NFT record. DUC (Dapper Utility Coin) on NBA Top Shot
https://forum.onflow.org/t/can-you-make-purchase-on-nbatopshot-with-flow-go-sdk/1946

[2021-08-19 15:19] xiaods commented on #414
Dapper lab just use UDC to account USD price on Flow chain. don't need update on NFT resource right now.

[2021-08-19 15:21] xiaods commented on #414
read the https://flowscan.org/transaction/b9f09320ea955e8ae3f92288c916327d7d147e4fa7b155ed76abdf382b12cdfd/script

the NFT buyer address is here: recipient, it also emit event:  A.0b2a3299cc857e29.TopShot
Deposit

[2021-08-20 13:05] #437 closed

[2021-08-20 13:05] #475 closed

[2021-08-20 13:05] #476 closed

[2021-08-20 13:05] #477 closed

[2021-08-20 13:05] #481 closed

[2021-08-20 13:05] #482 closed

[2021-08-20 13:05] #483 closed

[2021-08-20 13:05] #469 closed

[2021-08-20 13:06] #473 closed

[2021-08-20 13:06] #474 closed

[2021-08-22 07:10] codegazer584 commented on #472
Hi, sorry couldn't respond due to personal commitments. yes I am working on this. Will be done by Tuesday.
Thanks!

[2021-08-24 01:01] xiaods commented on #414
when apply the lastest pr. report some errors from main chain:

ERRO[0038] getting deposit moments: client: rpc error: code = Internal desc = failed to retrieve events from execution nodes [execution-9686399a8a5418a12e762cfaeff2ea348c2137f554560917760e0d47acf2cda4@execution-001.mainnet10.nodes.onflow.org:3569=1000]: 1 error occurred:
        * rpc error: code = ResourceExhausted desc = grpc: tryin

[2021-08-24 04:40] xiaods commented on #414
today I testing again on flow mainchain, I can't reproduce this error. need double check chain status.

[2021-08-24 07:07] xiaods commented on #414
testing methods: Running your latest PR with line substituted by 90:
lastBlock = flowhelper.RootHeight10

[2021-08-30 23:21] DENNIS-CODES commented on #306
status

[2021-11-05 10:54] kaythxbye opened #499 "Ethereum wallet impact measurement"
We are looking for a Golang developer who can write a scraper for EVM compatible blockchains (mainly Ethereum).
Given an array of addresses, and a time range, determine how much gas was used by these addresses compared to the overall gas consumption of the respective network. The query should work for any time range, i.e., also archival/historical ones. Our ultimate goal is to determine which amou

[2021-11-05 11:15] meetmangukiya commented on #499
@kaythxbye I think instead of building a whole scraping engine and collecting all the data, etc. why not build on something like https://dune.xyz/home. And it is probably already built, see https://dune.xyz/drethereum/Gas-Fees for example being very similar.

[2021-11-25 10:52] #472 closed

[2021-11-25 10:53] #414 closed

[2021-11-25 10:53] #212 closed

[2021-11-25 10:53] #226 closed

[2021-11-25 10:53] #227 closed

[2021-11-25 10:53] #231 closed

[2021-11-25 10:53] #244 closed

[2021-11-25 10:53] #257 closed

[2021-11-25 11:51] jppade opened #501 "Asset Collector for Solana Blockchain"
We are looking for a developer that can provide a scraper which collects asset data from the Solana blockchain using the Serum DEX:
https://docs.projectserum.com/
The scraper must be written in Go and fetch data directly from on-chain. Furthermore, you should adhere to our underlying architecture / data structures. The task refers to the branch `master-ibm-tmp` in our repository.

More precisely,

[2021-12-03 18:11] #501 closed

[2021-12-03 18:19] jppade opened #503 "Exchange Scraper for Serum DEX on Solana"
We are looking for a developer that can provide a scraper which collects trades from the Serum DEX on Solana blockchain:
https://docs.projectserum.com/
The scraper must be written in Go and fetch data directly from on-chain. Furthermore, you should adhere to our underlying architecture / data structures. The task refers to the branch master-ibm-tmp in our repository.
For further instruction please

[2021-12-20 09:57] nnn-gif opened #505 "Write an exchange scraper for FTX Exchange"
We are looking for a developer that can provide a scraper for trading data from FTX exchange:
https://ftx.com/

The scraper must be written in Go and work concurrently and efficiently. Furthermore, you must use the websocket API in order to get trading data:
https://docs.ftx.com/#websocket-api

Finally, please adapt to our underlying data structures. For information on implementation details, plea

[2021-12-20 10:44] #503 closed

[2021-12-20 16:38] aahutsal commented on #505
@nnn-gif Hi. Applied on Gitcoin.
Would base my code on that: https://github.com/ftexchange/ftx/tree/master/go/ftx
Would use `KrakenScraper.go` as the base for building FTX.
Time to complete:
- setup dev env: 2hrs approx
- code and test: 8hrs approx.

[2021-12-21 19:18] synycboom commented on #505
I'm starting to implement in this branch https://github.com/synycboom/diadata/tree/add-ftx-exchange-scraper-synycboom

[2021-12-22 02:51] nnn-gif commented on #505
can you use https://github.com/synycboom/diadata/tree/master-ibm-tmp branch as base

[2021-12-22 03:50] synycboom commented on #505
Sure, I'll change the base branch thank you.

[2021-12-23 11:55] aahutsal commented on #503
@jppade isn't it needed anymore? you drop Solana support or already got the code. Seems @harjas27 gave up on that project.

[2021-12-23 12:04] jppade commented on #503
@aahutsal Thanks for asking. This issue is completed. Not sure why it doesn't show here. Maybe a buggy @gitcoinbot ?
But stay tuned, there is a couple bounties coming up.

[2021-12-23 13:31] nnn-gif opened #507 "Write an exchange scraper for Bybit Exchange"
We are looking for a developer that can provide a scraper for trading data from Bybit exchange:
https://www.bybit.com/

The scraper must be written in Go and work concurrently and efficiently. Furthermore, you must use the websocket API in order to get trading data:
https://bybit-exchange.github.io/docs/inverse/#t-websocketauthentication

Finally, please adapt to our underlying data structures. Fo

[2021-12-23 13:33] aahutsal commented on #503
Well, actually I'm Software Architect. Reviewed what you're building and think it's the right time to improve your arch a bit before investing more time into `new bounties coming up`. Might save time later. If you're interested, of course. Perhaps this is the part of your strategy to follow exactly that way.

[2021-12-23 13:57] jppade commented on #503
Hi Arsen,

thanks for the offer, that sounds interesting. In fact, we are
restructuring our repository and infrastructure quite a bit at the moment.
It's still in a dev branch. So it might be a good time to get some external
input indeed. Why don't you join our Discord server so we can have a chat
together with our CTO Samuel - maybe already some time next week.
https://discord.gg/sFFnvEde

Best w

[2021-12-23 14:01] jppade commented on #503
@aahutsal Thanks for your offer. If you like, shoot me a mail and I'll send you some details and an invite to our Discord server.
philipp.pade(at)diadata.org

[2021-12-23 15:23] synycboom commented on #505
@nnn-gif I've opened the PR. I'm not sure if you have any comment on it 🙂

[2021-12-23 15:38] nnn-gif commented on #505
Yes am already reviewing it

On Thu, 23 Dec 2021 at 8:53 PM, Wutichai Chansawat ***@***.***>
wrote:

--

Nitin Gurbani

http://niktrix.in

[2021-12-24 02:53] #505 closed

[2021-12-24 03:17] nnn-gif opened #508 "Write an exchange scraper for Crypto.com Exchange"
We are looking for a developer that can provide a scraper for trading data from Crypto.com exchange:
https://crypto.com/

The scraper must be written in Go and work concurrently and efficiently. Furthermore, you must use the websocket API in order to get trading data:
https://exchange-docs.crypto.com/spot/index.html#websocket-subscriptions

Finally, please adapt to our underlying data structures.

[2021-12-27 11:04] synycboom commented on #508
There are 2 PRs
- https://github.com/diadata-org/diadata/pull/511
- https://github.com/diadata-org/diadata/pull/512 (This one is for my FTX scraper, just clean up and rename)

[2022-01-11 10:59] jppade opened #513 "Write an exchange scraper for Balancer DEX V2"
We are looking for a developer that can provide a scraper which collects trades from Balancer DEX V2:
https://app.balancer.fi/#/trade
In case the number of pools is an issue, please introduce a cutoff by pool size, i.e. only take into consideration pools with a volume above a given cutoff.
The scraper must be written in Go and fetch data directly from on-chain. Furthermore, you should adhere to ou

[2022-01-13 13:53] jppade opened #514 "Update instructions for writing an exchange scraper"
Update the instructions for writing an exchange scraper in the DIA Documentation:
https://docs.diadata.org/documentation/tutorials/exchangescrapers
By reading the instructions a contributor not familiar with our codebase should be able to:
1. Write an exchange scraper adhering to the existing scraper structure
2. Test the scraper by running it locally

Ideally you add a test environment through a

[2022-01-13 15:04] #508 closed

[2022-01-13 15:05] #507 closed

[2022-01-13 15:06] nnn-gif opened #515 "Write an exchange scraper for Bitforex Exchange"
We are looking for a developer that can provide a scraper for trading data from Bitforex exchange:
https://www.bitforex.com/

The scraper must be written in Go and work concurrently and efficiently. Furthermore, you must use the websocket API in order to get trading data:
https://github.com/githubdev2020/API_Doc_en/wiki/Websocket-Market-Data

Finally, please adapt to our underlying data structures

[2022-01-13 15:10] nnn-gif opened #516 "Write an exchange scraper for Bitmex Exchange"
We are looking for a developer that can provide a scraper for trading data from Bitmex exchange:
https://www.bitmex.com/

The scraper must be written in Go and work concurrently and efficiently. Furthermore, you must use the websocket API in order to get trading data:
https://www.bitmex.com/app/wsAPI

Finally, please adapt to our underlying data structures. For information on implementation detail

[2022-01-13 15:55] synycboom commented on #516
I cannot edit my plans on Gitcoin 🥲  the rate-limit is
120 requests per minute on all routes (reduced to 30 when unauthenticated)
10 requests per second on certain routes

[2022-01-15 01:49] xiaods commented on #499
Is this bounty currently open? I can work for this

[2022-01-15 01:54] xiaods commented on #499
@kaythxbye  please give me your Telegram account.

[2022-01-17 16:36] jppade opened #517 "Identify Exchange Symbol Ticker - FTX 1"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

Native assets which don't have a proper address (such as FTM on Fantom blockch

[2022-01-17 16:36] synycboom commented on #513
Hi @jppade, I'm sorry to tell you that I won't be able to finish this task within this week because I forgot to bring my laptop with me (I'm on vacation). I'll continue doing this task on this Saturday after going back home. In the mean time, I'm going to read BalancerV2 docs and checking out the smart contracts.

[2022-01-17 16:37] jppade opened #518 "Identify Exchange Symbol Ticker - FTX 2"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

Native assets which don't have a proper address (such as FTM on Fantom blockch

[2022-01-17 16:37] jppade opened #519 "Identify Exchange Symbol Ticker - FTX 3"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

Native assets which don't have a proper address (such as FTM on Fantom blockch

[2022-01-17 16:40] jppade opened #520 "Identify Exchange Symbol Ticker - Crypto.com 1"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

Native assets which don't have a proper address (such as FTM on Fantom blockch

[2022-01-17 16:40] jppade opened #521 "Identify Exchange Symbol Ticker - Crypto.com 2"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

Native assets which don't have a proper address (such as FTM on Fantom blockch

[2022-01-17 16:40] jppade opened #522 "Identify Exchange Symbol Ticker - Crypto.com 3"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

Native assets which don't have a proper address (such as FTM on Fantom blockch

[2022-01-17 16:41] jppade opened #523 "Identify Exchange Symbol Ticker - ByBit 1"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

Native assets which don't have a proper address (such as FTM on Fantom blockch

[2022-01-17 16:42] jppade opened #524 "Identify Exchange Symbol Ticker - ByBit 2"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

Native assets which don't have a proper address (such as FTM on Fantom blockch

[2022-01-17 16:42] jppade opened #525 "Identify Exchange Symbol Ticker - ByBit 3"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

Native assets which don't have a proper address (such as FTM on Fantom blockch

[2022-01-17 17:18] jppade commented on #513
Hi @synycboom, alright. No worries. Thanks for the heads up.

[2022-01-25 11:44] jppade opened #533 "Identify Exchange Symbol Ticker - ByBit1"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

Native assets which don't have a proper address (such as FTM on Fantom blockch

[2022-01-25 11:44] jppade opened #534 "Identify Exchange Symbol Ticker - ByBit2"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

Native assets which don't have a proper address (such as FTM on Fantom blockch

[2022-01-25 11:45] jppade opened #535 "Identify Exchange Symbol Ticker - ByBit3"
This task consists in mapping token symbol tickers from crypto exchanges onto the full information uniquely defining the underlying asset.
As an example, the symbol ticker DIA on Binance exchange should be mapped onto the asset with the properties
Blockchain: Ethereum
Address: 0x84cA8bc7997272c7CfB4D0Cd3D55cd942B3c9419

Native assets which don't have a proper address (such as FTM on Fantom blockch

[2022-01-25 11:45] #523 closed

[2022-01-25 11:45] #524 closed

[2022-01-25 11:45] #525 closed

[2022-01-25 16:01] #535 closed

[2022-02-03 15:23] jppade opened #537 "Rewrite instructions for writing an exchange scraper"
Update the instructions for writing an exchange scraper in the DIA Documentation:
https://docs.diadata.org/documentation/tutorials/exchangescrapers
By reading the instructions a contributor not familiar with our codebase should be able to:

1. Write an exchange scraper adhering to the existing scraper structure
2. Test the scraper by running it locally

Ideally you add a test environment through a

[2022-02-03 15:25] #514 closed

[2022-02-03 23:16] Dezmerritt75 opened #538 "Defi Lending Rate Scraper for <SOURCE NAME>SetDefiProtocol(protocol dia.DefiProtocol)"
Your job is to source and connect the <NAME> lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Biggest Protocol/Dominance % of total
- Total Value Locked (24H in USD; ETH; BTC)
- Total ETH locked
- Under

[2022-02-03 23:22] Dezmerritt75 commented on #537
type APIScraper interface {
	io.Closer
	// ScrapePair returns a PairScraper that continuously scrapes trades for a
	// single pair from this APIScraper
	ScrapePair(pair dia.Pair) (PairScraper, error)
	// FetchAvailablePairs returns a list with all available trade pairs (usually
	// fetched from an exchange's API)
	FetchAvailablePairs() (pairs []dia.Pair, err error)
	// Channel returns a channel th

[2022-02-18 02:22] SPPrague opened #539 "Kucoin"

[2022-03-04 17:22] SPPrague opened #540 "Bumps [github.com/ethereum/go-ethereum](https://github.com/ethereum/go-ethereum) from 1.9.25 to 1.10.10."
Bumps [github.com/ethereum/go-ethereum](https://github.com/ethereum/go-ethereum) from 1.9.25 to 1.10.10.
<details>
<summary>Release notes</summary>
<p><em>Sourced from <a href="https://github.com/ethereum/go-ethereum/releases">github.com/ethereum/go-ethereum's releases</a>.</em></p>
<blockquote>
<h2>Sytau (v1.10.10)</h2>
<p>Geth v1.10.10 is another bug fix release.</p>
<h4>Geth changes</h4>
<ul>
<

[2022-03-05 07:28] SPPrague opened #541 "Bumps [github.com/ethereum/go-ethereum](https://github.com/ethereum/go-ethereum) from 1.9.25 to 1.10.10."
Bumps [github.com/ethereum/go-ethereum](https://github.com/ethereum/go-ethereum) from 1.9.25 to 1.10.10.
<details>
<summary>Release notes</summary>
<p><em>Sourced from <a href="https://github.com/ethereum/go-ethereum/releases">github.com/ethereum/go-ethereum's releases</a>.</em></p>
<blockquote>
<h2>Sytau (v1.10.10)</h2>
<p>Geth v1.10.10 is another bug fix release.</p>
<h4>Geth changes</h4>
<ul>
<

[2022-03-05 10:06] SPPrague opened #542 "Bumps [github.com/ethereum/go-ethereum](https://github.com/ethereum/go-ethereum) from 1.9.25 to 1.10.10."
Bumps [github.com/ethereum/go-ethereum](https://github.com/ethereum/go-ethereum) from 1.9.25 to 1.10.10.
<details>
<summary>Release notes</summary>
<p><em>Sourced from <a href="https://github.com/ethereum/go-ethereum/releases">github.com/ethereum/go-ethereum's releases</a>.</em></p>
<blockquote>
<h2>Sytau (v1.10.10)</h2>
<p>Geth v1.10.10 is another bug fix release.</p>
<h4>Geth changes</h4>
<ul>
<

[2022-04-04 17:37] Brycewetzel opened #544 "Defi Lending Rate Scraper for <SOURCE NAME>"
Your job is to source and connect the <NAME> lending protocol, sourcing lending rates, volume, and other data, pushing it into our database for open-source usage.

Task: Source primary data defined below for connectivity to our database for:

- Lending Rate
- DeFi Total Value Locked (USD)
- Biggest Protocol/Dominance % of total
- Total Value Locked (24H in USD; ETH; BTC)
- Total ETH locked
- Under

[2022-04-13 05:26] Brycewetzel commented on #544
Yay

[2022-05-04 11:03] #544 closed

[2022-05-04 11:04] #539 closed

[2022-05-04 11:04] #538 closed

[2022-05-04 11:21] jppade opened #548 "Write an NFT Trades Scraper for LooksRare Platform"
We are looking for a Go developer who is experienced in writing applications interfacing with the Ethereum blockchain. Basic knowledge in NFTs is helpful but not mandatory.
Your task is to write a trades scraper for LooksRare platform. The data must be fetched directly from the Ethereum blockchain (using for instance infura API). The relevant contracts seems to be the following:
https://etherscan.

[2022-05-06 05:00] federicosan commented on #548
The looksrare template provided is broke on gitcoin's bountie could you please fix it?

[2022-05-06 07:43] jppade commented on #548
Hi @federicosan, thanks for the heads up. I guess you are referring to the path github.com/diadata-org/diadata/pkg/dia/nftTrade-scrapers/looksrare.go? That might have been misleading on my part. This file should be created by the contributor. If you feel it would ease your way into the task I can surely create a template file for you. Let me know.

[2022-05-08 13:53] hhio618 commented on #548
Is anyone already working on this one? I like to work on it if possible.

[2022-05-09 07:30] jppade commented on #548
Hi @hhio618 , yes, [gall0x](https://gitcoin.co/gall0x) is already working on this task.

[2022-05-09 12:36] khalidfsh commented on #548
Hi all, this bounty got me very exciting to build an auto scraper for everything pop up in a new block about NFT exchanging platforms; auctioning, listing, bidding or exchanging. Also keep in mind there will be hundreds of exchange platforms in next years, its not a good idea to implement everyone alone while they share the same perspective with deferent user approach.

[2022-05-09 21:20] khalidfsh commented on #548
Thank you for your generous reply @jppade
I’m already working around to get into this solution. Also, I’m waiting for LooksRare scraper to be finished by [gall0x](https://gitcoin.co/gall0x) it will cut down the road for me.
As of my understanding until now, it could be at least a small manual file for every exchange platform that establish a contract ABI and a call of reusable function that go and

[2022-05-10 12:17] jppade opened #549 "Extend a curve.finance DEX Trades Scraper"
This task consists in extending our curve.finance DEX trades scraper, which can be found here:\
https://github.com/diadata-org/diadata/blob/master/pkg/dia/scraper/exchange-scrapers/CurvefiScraper.go

The currently deployed version of the scraper fetches all trades from "Base Pools" and "MetaPools", see:\
https://curve.readthedocs.io/ref-addresses.html

Your job is to extend the scraper such that i